@font-face {
  font-family: ATSurtVN;
  src: url(ATSurtVN-Regular.otf);
}
@font-face {
  font-family: NewYork;
  src: url("/assets/font/NewYork.otf") format("woff2");
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: normal;
}
