@import "abstracts/abstracts.scss";
@import "layout/layout.scss";
@import "base/base.scss";
@import "pages/pages.scss";
@import "components/components.scss";
@import "editor/plugin.scss";

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: ATSurtVN;
  overflow-x: hidden;
  font-weight: 400;
  width: 100vw;
  padding: 0;
  margin: 0;
}
main {
  padding-bottom: 70px;
}
button,
li,
label,
svg {
  cursor: pointer;
}

.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;

  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.fade-in {
  -webkit-animation: fade-in 0.3s ease-out both;
  animation: fade-in 0.3s ease-out both;

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
