.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-content: center;
  padding: 20px;
  ::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  .close__btn {
    @include border($light, 50%);
    position: absolute;
    top: 90px;
    right: 90px;
    // padding: 10px;
    background: $white;
    width: 38px;
    height: 38px;
    svg {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.modal__content {
  @include hidden_scroll();
  min-width: 200px;
  max-height: 80vh;
  overflow: auto;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px $light;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.payment__progress {
  @include flex(column, center, center);
  padding: 15px;
  h1 {
    padding: 10px;
  }
  button {
    background-color: #eaeaea;
    color: #333;
    font-weight: 700;
    border: none;
    font-size: 14px;
    padding: 10px;
    width: auto;
    margin: 0;
    height: 100%;
  }
}
.store__check--modal {
  ul {
    @include grid(repeat(2, 1fr), null, 20px);
    padding: 20px;
    li {
      h5 {
        @include font(medium, start, 600);
        margin-bottom: 15px;
      }
    }
  }
}
.size__guide--modal {
  width: 80vw;
  padding: 40px;
  background-color: $light;
  h1 {
    @include font(large, center, bold);
  }
  .size__guide--container {
    @include flex(row, space-around, start);
    @include border($light, 4px);
    background-color: $grey;
    padding: 20px;
    margin-top: 40px;
    .info {
      width: 70%;
      img {
        width: 100%;
      }
      table {
        width: 100%;
        @include border($light, 0px);
        td {
          @include font(medium, center, 600);
          @include border($light, 0px);
          background-color: $light;
          padding: 10px;
        }
        tbody {
          tr {
            td:first-child {
              background-color: $light;
            }
            td {
              background-color: $white;
            }
          }
        }
      }
    }
    form {
      padding: 25px 20px;
      margin-left: 20px;
      border-left: thin solid $light;
      > div {
        @include flex(row, space-between, center);
        margin: 15px 0;
        p {
          margin-bottom: 10px;
        }
        input {
          @include border($light, 4px);
          padding: 15px 10px;
          width: 90%;
        }
      }
      button {
        @include font(medium, center, 600);
        width: 100%;
        padding: 15px;
        border: none;
        background-color: $light;
      }
      .response {
        margin-top: 10px;
        font-size: medium;
      }
    }
  }
}
.sale__promotion {
  padding: 40px;
  line-height: 2;
  span {
    background-image: url("https://i.imgur.com/YAhhDRd.png");
    @include ratio(18, 7);
  }
  h2 {
    @include font(large, center, bold);
  }
  p {
    @include font(medium, center, 600);
  }
}
.refund__policy {
  padding: 40px;
  line-height: 2;
  h2 {
    @include font(large, center, bold);
  }
  h4 {
    @include font(medium, center, 600);
  }
}
.combo__modal {
  padding: 20px;
  h1 {
    @include font(large, center, 600);
    margin-bottom: 15px;
  }
  h3 {
    @include font(small, center, 600);
  }
  ul {
    @include grid(repeat(3, 1fr), null, 20px);
    padding: 20px 5%;
    li {
      label {
        display: block;
        position: relative;
        span {
          @include ratio(1, 1);
        }
        p {
          @include font(small, center, 500);
        }
        > div {
          position: absolute;
          display: grid;
          place-content: center;
          left: 50%;
          top: 50%;
          background-color: rgba($color: #000000, $alpha: 0.6);
          transform: translate(-50%, -50%);
          @include border(transparent, 50px);
          width: 60px;
          height: 60px;
          button {
            background-color: transparent;
            border: none;
            color: $white;
          }
          &:hover {
            background-color: $white;
            button {
              color: $black;
            }
          }
        }
      }
    }
  }
}
.book__promotion {
  width: 60vw;
  div {
    @include ratio(16, 9);
    margin: 10px;
  }
  svg {
    display: none;
  }
}
.lookbook__detail {
  width: 70vw;
  padding: 10px;
  @include grid(35% 1fr, null, 40px);
  &--featured {
    width: 100%;
    padding: 10px;
    @include flex(row, center, center);
    span {
      @include ratio(5, 7);
    }
  }
  &--products {
    @include grid(1fr 1fr, null, 20px);
    padding: 10px;
    place-content: center;
  }
}
@media (max-width: 768px) {
  .modal__overlay {
    .close__btn {
      right: 10px;
    }
  }
}
@media (max-width: 535px) {
  .modal__overlay {
    .close__btn {
      top: 10px;
    }
  }
  .size__guide--modal {
    width: auto;
    padding: 20px;
    .size__guide--container {
      flex-direction: column;
      padding: 0;
      form {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  .combo__modal {
    h3 {
      font-size: small;
    }
    ul {
      @include flex(row, center, center);
      flex-wrap: wrap;
      grid-gap: 0;
      padding: 10px;
      li {
        width: 50%;
        label {
          p {
            font-size: smaller;
          }
        }
      }
    }
  }
  .book__promotion {
    width: 90vw;
    @include flex(row, center, center);
    flex-wrap: wrap;
    position: relative;
    grid-gap: 0;
    div {
      @include ratio(4, 5);
      margin: 10px;
    }
    svg {
      display: none;
      width: 50px;
      height: 50px;
      position: fixed;
      bottom: 10px;
      fill: $silver;

    }
  }
  .lookbook__detail {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    &--featured {
      margin-bottom: 0;
    }
  }
}
