.related__product {
  padding: 20px;
  h1 {
    @include font(large, center, 600);
    margin-bottom: 20px;
  }
  ul {
    width: 100%;
    @include grid(repeat(4, 1fr), null, 20px);
  }
}
@media (max-width: 769px) {
  .related__product {
    ul {
      @include grid(repeat(4, 23%), null, 20px);
    }
  }
}
@media (max-width: 426px) {
  .related__product {
    ul {
      @include grid(repeat(auto-fit, 47%), null, 20px);
    }
  }
}
