.related__product {
  padding: 5%;
  h1 {
    @include font(large, center, 600);
    margin-bottom: 20px;
  }
  ul {
    width: 100%;
    @include grid(repeat(4, 1fr), null, 20px);
  }
}
@media (max-width: 426px) {
  .related__product {
    padding: 5%;
    ul {
      @include grid(repeat(2, 1fr), null, 20px);
    }
  }
}
