.header {
  @include shadow(1px, 1px, 4px, $light);
  @include position(fixed, 0, null, null, 0);
  width: 100%;
  z-index: 1000;
  .nav {
    @include grid(repeat(3, 1fr), 1fr, 10px);
    height: 100%;
    padding: 0 5%;
    &__left {
      @include grid();
      place-content: center start;
      &--items {
        @include flex(row, flex-start, center);
        div {
          @include font(medium, center);
          padding: 20px;
          text-transform: uppercase;
          letter-spacing: 1.3px;
          margin: 0 15px;
          position: relative;
          &::after {
            content: "";
            @include position(absolute, null, null, 0, 0);
            @include transition;
            width: 0%;
            height: 3px;
            background-color: $brown;
          }
          &.active {
            &::after {
              width: 100%;
            }
            a {
              color: $black;
            }
          }
        }
      }
    }
    &__logo {
      @include grid();
      place-content: center;
      width: 100%;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    &__right {
      @include grid();
      place-content: center end;
      &--items {
        @include flex(row, flex-start, center);
        div {
          padding: 10px;
        }
      }
    }
  }
}

.megamenu__container {
  @include shadow(1px, 5px, 4px, $light);
  display: none;
  width: 100%;
  padding: 20px 5%;
  background-color: $white;
  position: absolute;
  z-index: 100;
  &.active {
    @include grid(0.5fr 0.5fr 1fr, 1fr, 10px);
  }
  div {
    h1 {
      @include font(medium, start);
      letter-spacing: 1.3px;
      text-decoration: underline;
    }
    .megamenu__categories {
      li {
        margin-top: 15px;
        a {
          text-transform: capitalize;
        }
      }
    }
  }
  div {
    h1 {
      @include font(medium, start);
      letter-spacing: 1.3px;
      text-decoration: underline;
    }
    .megamenu__newarrivals {
      li {
        margin-top: 15px;
        a {
          text-transform: capitalize;
        }
      }
    }
  }
}

.megamenu__banner {
  @include grid(repeat(2, 1fr), 1fr, 10px);
  li {
    a {
      @include ratio(4, 5);
    }
  }
}
