.products__slider {
  width: 100%;
  margin: 20px 0;
  .glide {
    visibility: hidden;
    height: 0;
    &.active {
      visibility: visible;
      height: auto;
    }
  }
}

.product {
  width: 100%;
  position: relative;
  margin: 10px 0;
  .thumbnail {
    a {
      width: 100%;
      span {
        @include ratio(4, 5);
        background-color: rgba($color: $light, $alpha: 0.6);
        &:hover {
          background-blend-mode: multiply;
        }
      }
    }
  }
  .name {
    @include font(medium, center, 600);
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
  }
  .price {
    @include grid(repeat(auto-fit, minmax(10%, auto)), 1fr);
    place-items: center;
    .discount {
      color: $silver;
      text-decoration: line-through;
    }
  }
  .tag {
    @include position(absolute, 0, 0, null, null);
    padding: 10px;
    background-color: $red;
    color: $white;
    border-radius: 0 0 0 4px;
    text-align: center;
  }
  .color {
    @include grid(repeat(auto-fit, minmax(auto, 20px)), null, 10px);
    place-content: center;
    margin-top: 10px;
    min-height: 25px;
    &:hover {
      > p {
        display: none;
      }
      > span {
        display: block;
      }
    }
    p {
      grid-column: none;
      color: $silver;
      display: block;
    }
    span {
      @include ratio(1, 1);
      box-shadow: 0 0 5px 1px $light;
      border: thin solid $silver;
      box-sizing: content-box;
      display: none;
    }
  }
}

@media (max-width: 426px) {
  .product {
    .color {
      &:hover {
        p {
          grid-column: none;
          color: $silver;
          display: none;
        }
        span {
          @include ratio(1, 1);
          box-shadow: 0 0 5px 1px $light;
          border: thin solid $silver;
          box-sizing: content-box;
          display: block;
        }
      }
    }
  }
}
