.header {
  box-shadow: 1px 1px 4px #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .header .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    padding: 0 5%;
    background-color: #ffffff; }
    .header .nav__left {
      display: grid;
      place-content: center start; }
      .header .nav__left--items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .header .nav__left--items div {
          font-size: medium;
          text-align: center;
          padding: 25px 20px;
          text-transform: uppercase;
          letter-spacing: 1.3px;
          margin: 0 15px;
          position: relative; }
          .header .nav__left--items div::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all ease-in-out 0.2s;
            width: 0%;
            height: 3px;
            background-color: #955c38; }
          .header .nav__left--items div.active::after {
            width: 100%; }
          .header .nav__left--items div.active a {
            color: #000000; }
    .header .nav__logo {
      display: grid;
      place-content: center;
      width: 100%; }
      .header .nav__logo svg {
        width: 40px;
        height: 40px; }
    .header .nav__right {
      display: grid;
      place-content: center end; }
      .header .nav__right--items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .header .nav__right--items div {
          transition: all ease-in-out 0.2s;
          border: thin solid transparent;
          border-radius: 4px;
          padding: 10px; }
          .header .nav__right--items div:hover {
            background-color: rgba(241, 241, 241, 0.6); }
          .header .nav__right--items div.active {
            background-color: rgba(241, 241, 241, 0.6); }
  .header .side__nav {
    display: none;
    position: fixed;
    z-index: 111111;
    top: 0;
    left: -9999px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff; }
    .header .side__nav--title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }

.megamenu__container {
  box-shadow: 1px 5px 4px #f1f1f1;
  display: none;
  width: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
  position: fixed;
  z-index: 100; }
  .megamenu__container.active {
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px; }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .megamenu__container div h1 {
    font-size: medium;
    text-align: start;
    letter-spacing: 1.3px;
    text-decoration: underline; }
  .megamenu__container div .megamenu__categories li {
    margin-top: 15px; }
    .megamenu__container div .megamenu__categories li a {
      text-transform: capitalize; }
  .megamenu__container div h1 {
    font-size: medium;
    text-align: start;
    letter-spacing: 1.3px;
    text-decoration: underline; }
  .megamenu__container div .megamenu__newarrivals li {
    margin-top: 15px; }
    .megamenu__container div .megamenu__newarrivals li a {
      text-transform: capitalize; }
  .megamenu__container .megamenu__banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px; }
    .megamenu__container .megamenu__banner li a {
      display: block;
      width: 100%;
      padding-top: 125%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

.search__container {
  box-shadow: 1px 5px 4px #f1f1f1;
  display: none;
  width: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
  position: fixed;
  z-index: 100; }
  .search__container.active {
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: block; }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .search__container .search__input {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; }
    .search__container .search__input input {
      border: thin solid #aeaeae;
      width: 50%;
      padding: 10px; }
  .search__container .options__block {
    width: 100%; }

.cart__container {
  display: none;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  place-items: start end; }
  .cart__container.active {
    -webkit-animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: grid; }
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
  .cart__container .mini__cart {
    box-shadow: 1px 5px 4px #f1f1f1;
    width: 30%;
    background-color: #ffffff; }
    .cart__container .mini__cart ul {
      width: 100%;
      padding: 20px 0;
      max-height: 60vh;
      overflow: auto; }
      .cart__container .mini__cart ul li {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px; }
        .cart__container .mini__cart ul li .product__thumbnail {
          display: block;
          width: 100%;
          padding-top: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .cart__container .mini__cart ul li div h6 {
          font-size: medium;
          margin-bottom: 5px; }
        .cart__container .mini__cart ul li div span {
          color: #aeaeae;
          margin-bottom: 5px;
          display: block; }
        .cart__container .mini__cart ul li div strong {
          margin-bottom: 5px; }
        .cart__container .mini__cart ul li div .add__product {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .cart__container .mini__cart ul li div .add__product button {
            background-color: transparent;
            margin: 0 5px;
            border: transparent;
            padding: 10px;
            font-size: large; }
    .cart__container .mini__cart .cart__total {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      border-top: thin solid #f1f1f1; }
      .cart__container .mini__cart .cart__total span {
        font-size: medium; }
      .cart__container .mini__cart .cart__total strong {
        font-size: large; }
    .cart__container .mini__cart .cart__btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; }
      .cart__container .mini__cart .cart__btn button {
        box-shadow: 1px 1px 5px #f1f1f1;
        transition: all ease-in-out 0.2s;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        border: transparent;
        text-transform: uppercase;
        font-weight: bold; }
        .cart__container .mini__cart .cart__btn button:hover {
          background-color: #000000;
          color: #ffffff; }
        .cart__container .mini__cart .cart__btn button.checkout__btn {
          background-color: #000000;
          color: #ffffff; }

@media (max-width: 426px) {
  .header {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0; }
    .header .nav {
      border-top: thin solid #f1f1f1; }
      .header .nav__left {
        place-content: initial; }
        .header .nav__left--items {
          justify-content: space-between; }
          .header .nav__left--items div {
            padding: 10px;
            margin: 0; }
      .header .nav__logo svg {
        width: 35px;
        height: 35px; }
      .header .nav__right {
        place-content: initial; }
        .header .nav__right--items {
          justify-content: space-between; }
          .header .nav__right--items [data-action="search"] {
            display: none; }
    .header .side__nav {
      transition: all ease-in-out 0.2s;
      display: block;
      left: -99999; }
      .header .side__nav.active {
        left: 0; }
      .header .side__nav--title {
        width: 100%;
        padding: 20px; }
        .header .side__nav--title a {
          width: 80%; }
          .header .side__nav--title a img {
            width: 100%; }
      .header .side__nav ul li a {
        padding: 20px;
        width: 100%;
        height: 100%;
        font-size: large;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.3px; }
      .header .side__nav ul li ul {
        display: none; }
      .header .side__nav--community {
        border-top: 1px solid #f1f1f1; }
        .header .side__nav--community h1 {
          font-size: medium;
          text-align: start;
          font-weight: bold;
          padding: 20px; }
        .header .side__nav--community li {
          padding-left: 20px; }
          .header .side__nav--community li a {
            padding: 10px !important;
            font-weight: normal !important;
            text-transform: capitalize !important; }
      .header .side__nav--footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0; }
        .header .side__nav--footer h1 {
          border-top: thin solid #f1f1f1;
          margin: 0 20px;
          padding: 15px 0;
          font-size: 0.6rem;
          color: var(--silver);
          text-align: center; } }
.footer {
  width: 100%;
  padding: 2.5% 5% 0 5%;
  background-color: #f7f7f7; }
  .footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .footer div .company__info {
      display: flex;
      flex-direction: column;
      justify-content: flext-start;
      align-items: start; }
      .footer div .company__info img {
        width: 50%; }
      .footer div .company__info ul {
        margin: 10px 0; }
        .footer div .company__info ul li {
          line-height: 2;
          color: #808080; }
    .footer div .company__policy ul {
      margin: 0 20px; }
      .footer div .company__policy ul li {
        line-height: 2;
        text-transform: capitalize;
        text-align: end; }
        .footer div .company__policy ul li a {
          color: #808080; }
    .footer div .about__us {
      flex-direction: column;
      width: 50%;
      line-height: 2;
      color: #808080; }
    .footer div .social__network a {
      margin: 0 15px; }
      .footer div .social__network a svg {
        fill: #aeaeae; }
    .footer div.end__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: thin solid #f1f1f1;
      padding: 20px 0;
      margin: 0; }
      .footer div.end__footer h1 {
        font-size: medium;
        text-align: start;
        color: #aeaeae;
        text-transform: capitalize; }
      .footer div.end__footer .mobile__app {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0; }
        .footer div.end__footer .mobile__app a {
          margin: 0 10px; }
          .footer div.end__footer .mobile__app a svg {
            fill: #aeaeae; }
        .footer div.end__footer .mobile__app p {
          color: #aeaeae; }

.products__slider {
  width: 100%;
  margin: 20px 0; }

.product {
  width: 100%;
  position: relative; }
  .product .thumbnail a {
    width: 100%; }
    .product .thumbnail a span {
      display: block;
      width: 100%;
      padding-top: 125%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(241, 241, 241, 0.6); }
      .product .thumbnail a span:hover {
        background-blend-mode: multiply; }
  .product .name {
    font-size: medium;
    text-align: center;
    font-weight: 600;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer; }
  .product .price {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, auto));
    grid-template-rows: 1fr;
    place-items: center; }
    .product .price .discount {
      color: #aeaeae;
      text-decoration: line-through; }
  .product .tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #c1272d;
    color: #ffffff;
    border-radius: 0 0 0 4px;
    text-align: center; }

/* main menu */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===== CUSTOM RESET ===== */
object {
  outline: none;
  display: block;
  overflow: hidden; }

/* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
input,
button {
  outline: none;
  font-family: "Barlow", sans-serif; }

textarea {
  overflow: auto; }

/* fix IE */
iframe {
  border: 0; }

a {
  text-decoration: none;
  color: #808080;
  display: inline-block;
  cursor: pointer;
  font-family: "Barlow", sans-serif; }

a:visited {
  color: #808080; }

a:hover {
  color: var(--black); }

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  /* font-family: Noto Sans Semi; */ }

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="text"] {
  /*background: transparent !important;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input::placeholder {
  font-family: "Barlow", sans-serif; }

button:focus,
button:blur {
  border: none; }

.hidden_scroll {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */ }

.hidden_scroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */ }

div,
li,
ul,
a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

svg {
  width: 25px;
  height: 25px; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.glide * {
  box-sizing: inherit; }

.glide__track {
  overflow: hidden; }

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  /* overflow: hidden; */
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none; }

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  /* box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); */
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow svg {
    width: 50px;
    height: 50px;
    stroke: transparent;
    fill: #f1f1f1; }

.glide__arrow:focus {
  outline: none; }

.glide__arrow:hover {
  border-color: white; }

.glide__arrow--left {
  left: 1em; }

.glide__arrow--right {
  right: 1em; }

.glide__arrow--disabled {
  opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  opacity: 0.5;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(0, 0, 0, 0.3);
  width: 25px;
  height: 3px;
  padding: 0;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.25em; }

.glide__bullet:focus {
  outline: none; }

.glide__bullet:hover,
.glide__bullet:focus {
  background-color: var(--black); }

.glide__bullet--active {
  background-color: var(--black); }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

@media (max-width: 426px) {
  .glide__bullets {
    bottom: -15px; }

  .glide__arrow svg {
    width: 20px;
    height: 20px; } }
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: normal; }

.home .slide__banner {
  width: 100%; }
  .home .slide__banner .glide__slide div {
    display: block;
    width: 100%;
    padding-top: 38.8888888889%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
.home .categories__banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 20px 0; }
  .home .categories__banner div a {
    display: block;
    width: 100%;
    padding-top: 57.1428571429%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: normal; }
    .home .categories__banner div a:hover {
      background-blend-mode: multiply; }
.home .new-arrivals__slide {
  padding: 5%; }
  .home .new-arrivals__slide h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer; }
  .home .new-arrivals__slide .gender__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0; }
    .home .new-arrivals__slide .gender__toggle button {
      font-size: medium;
      text-align: center;
      font-weight: 600;
      border: thin solid transparent;
      background-color: transparent;
      margin: 0 10px;
      padding: 10px;
      position: relative; }
      .home .new-arrivals__slide .gender__toggle button::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #c1272d;
        border-radius: 50px;
        opacity: 0;
        transition: all ease-in-out 0.2s; }
      .home .new-arrivals__slide .gender__toggle button::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: #000000;
        border-radius: 4px;
        transition: all ease-in-out 0.2s; }
      .home .new-arrivals__slide .gender__toggle button.active::before, .home .new-arrivals__slide .gender__toggle button:hover::before {
        opacity: 1; }
      .home .new-arrivals__slide .gender__toggle button.active::after, .home .new-arrivals__slide .gender__toggle button:hover::after {
        width: 100%; }
.home .stylepick__slide {
  padding: 5%;
  background-color: #adbabf; }
  .home .stylepick__slide h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
    cursor: pointer; }
.home .weekly__best {
  padding: 5%; }
  .home .weekly__best h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer; }
  .home .weekly__best .gender__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0; }
    .home .weekly__best .gender__toggle button {
      font-size: medium;
      text-align: center;
      font-weight: 600;
      border: thin solid transparent;
      background-color: transparent;
      margin: 0 10px;
      padding: 10px;
      position: relative; }
      .home .weekly__best .gender__toggle button::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #c1272d;
        border-radius: 50px;
        opacity: 0;
        transition: all ease-in-out 0.2s; }
      .home .weekly__best .gender__toggle button::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: #000000;
        border-radius: 4px;
        transition: all ease-in-out 0.2s; }
      .home .weekly__best .gender__toggle button.active::before, .home .weekly__best .gender__toggle button:hover::before {
        opacity: 1; }
      .home .weekly__best .gender__toggle button.active::after, .home .weekly__best .gender__toggle button:hover::after {
        width: 100%; }
  .home .weekly__best ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    grid-gap: 20px; }
.home .blog {
  padding: 5%; }
  .home .blog h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer; }
  .home .blog .blog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45%);
    grid-gap: 5%;
    margin: 20px 0; }
    .home .blog .blog__list li {
      width: 100%; }
      .home .blog .blog__list li a {
        width: 100%; }
        .home .blog .blog__list li a span {
          display: block;
          width: 100%;
          padding-top: 56.25%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .home .blog .blog__list li a p {
          font-size: large;
          text-align: center;
          font-weight: 600;
          word-break: break-word;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          margin-top: 20px;
          cursor: pointer; }
      .home .blog .blog__list li:nth-child(even) {
        margin-top: 50px; }
.home .lookbook {
  padding: 5% 0; }
  .home .lookbook h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer; }
  .home .lookbook .lookbook__list {
    margin: 20px 0; }
    .home .lookbook .lookbook__list ul li {
      width: 100%; }
      .home .lookbook .lookbook__list ul li a {
        display: block;
        width: 100%;
        padding-top: 57.1428571429%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }

.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2.5% 10px; }
  .categories .categories__info {
    grid-area: 1 / 1 / 2 / 7;
    padding: 2.5% 5% 0 5%; }
    .categories .categories__info h1 {
      font-size: x-large;
      text-align: start;
      font-weight: bold; }
    .categories .categories__info p {
      margin-top: 15px; }
  .categories .categories__list {
    grid-area: 2 / 1 / 3 / 7;
    padding: 0 5%; }
    .categories .categories__list ul {
      display: grid;
      grid-template-columns: repeat(5, minmax(auto, 18%));
      grid-gap: 10px;
      transition: all ease-in-out 0.2s; }
      .categories .categories__list ul:hover {
        color: #aeaeae; }
      .categories .categories__list ul li {
        font-size: medium;
        text-align: start;
        font-weight: 500;
        line-height: 1.5;
        text-transform: uppercase;
        text-decoration: underline; }
        .categories .categories__list ul li:hover {
          color: #000000; }
  .categories .categories__filter {
    grid-area: 3 / 1 / 5 / 2;
    padding-left: 30%;
    position: relative; }
    .categories .categories__filter .filter__list {
      position: sticky;
      top: 100px; }
      .categories .categories__filter .filter__list ul {
        width: 100%; }
        .categories .categories__filter .filter__list ul li {
          border-bottom: thin solid #f1f1f1;
          transition: all ease-in-out 0.2s;
          margin-bottom: 15px; }
          .categories .categories__filter .filter__list ul li h4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-transform: capitalize;
            padding: 10px 0;
            font-weight: 400;
            font-size: small; }
            .categories .categories__filter .filter__list ul li h4 svg {
              width: 15px;
              height: 15px;
              fill: none;
              fill: #aeaeae;
              transition: all ease-in-out 0.2s; }
          .categories .categories__filter .filter__list ul li ul {
            display: none; }
            .categories .categories__filter .filter__list ul li ul li label {
              display: block;
              cursor: pointer;
              width: 100%;
              padding: 10px 5px; }
              .categories .categories__filter .filter__list ul li ul li label input {
                display: none; }
                .categories .categories__filter .filter__list ul li ul li label input:checked + span:before {
                  transform: scale(1.04);
                  background: #e9a246; }
                .categories .categories__filter .filter__list ul li ul li label input:checked + span:after {
                  transform: scale(0.4);
                  transition: transform 0.3s ease; }
              .categories .categories__filter .filter__list ul li ul li label span {
                display: block;
                position: relative;
                text-transform: capitalize;
                line-height: 15px;
                height: 15px;
                padding-left: 15px; }
                .categories .categories__filter .filter__list ul li ul li label span::before {
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: block;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  position: absolute;
                  background: #d1d7e3;
                  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
                .categories .categories__filter .filter__list ul li ul li label span::after {
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: block;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  position: absolute;
                  background: #fff;
                  transform: scale(0.78);
                  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }
  .categories .categories__products {
    grid-area: 3 / 2 / 5 / 7;
    padding: 0 5%;
    width: 100%; }
    .categories .categories__products ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      grid-gap: 20px; }
      .categories .categories__products ul li {
        width: 100%; }
  .categories .footer {
    grid-area: 5 / 1 / 7 / 7; }

.product__page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px; }
  .product__page .gallery {
    grid-area: 1 / 1 / 2 / 5;
    width: 100%; }
    .product__page .gallery ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .product__page .gallery ul li {
        display: block;
        width: 100%;
        padding-top: 125%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
  .product__page .model {
    grid-area: 2 / 1 / 3 / 5; }
    .product__page .model h1 {
      font-size: 2rem;
      margin: 30px 0;
      text-align: center;
      letter-spacing: 2px; }
    .product__page .model div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .product__page .model div ul {
        margin-right: 30px; }
        .product__page .model div ul li {
          margin-bottom: 10px;
          color: #aeaeae; }
      .product__page .model div div {
        width: 20%; }
        .product__page .model div div span {
          display: block;
          width: 100%;
          padding-top: 125%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
  .product__page .flatlay {
    grid-area: 3 / 1 / 4 / 5; }
    .product__page .flatlay h1 {
      font-size: 2rem;
      margin: 30px 0;
      text-align: center;
      letter-spacing: 2px; }
    .product__page .flatlay ul {
      display: grid;
      grid-template-columns: 1fr; }
      .product__page .flatlay ul li {
        display: block;
        width: 100%;
        padding-top: 125%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
  .product__page .attributes {
    grid-area: 4 / 1 / 5 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .product__page .attributes h1 {
      font-size: 2rem;
      margin: 30px 0;
      text-align: center;
      letter-spacing: 2px; }
    .product__page .attributes table {
      width: 80%; }
      .product__page .attributes table tr {
        display: grid;
        padding: 10px;
        border-bottom: thin solid #aeaeae;
        grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
        align-items: center;
        text-align: left; }
        .product__page .attributes table tr td {
          display: flex;
          align-items: center;
          text-align: center; }
          .product__page .attributes table tr td label p {
            position: relative;
            padding: 5px 5px 5px 40px; }
            .product__page .attributes table tr td label p::before {
              content: "";
              position: absolute;
              left: 0px;
              top: 0;
              width: 25px;
              height: 100%;
              border: thin solid #aeaeae;
              border-radius: 4px; }
  .product__page .related_product {
    grid-area: 6 / 1 / 7 / 7; }
  .product__page .variation {
    grid-area: 1 / 5 / 6 / 7;
    padding: 0 5%;
    position: relative; }
    .product__page .variation > div {
      position: sticky;
      top: 100px;
      align-self: flex-start; }
      .product__page .variation > div h1 {
        font-size: xx-large;
        text-align: start;
        font-weight: bold; }
      .product__page .variation > div .price {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10%, auto));
        grid-template-rows: 1fr;
        place-items: start;
        margin: 10px 0; }
        .product__page .variation > div .price p {
          font-size: x-large;
          text-align: start;
          font-weight: 600; }
        .product__page .variation > div .price .discount {
          color: #aeaeae;
          text-decoration: line-through; }
      .product__page .variation > div .color {
        margin: 5% 0; }
        .product__page .variation > div .color p {
          font-size: medium;
          text-align: start;
          font-weight: 500;
          text-transform: capitalize; }
        .product__page .variation > div .color ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(auto, 50px));
          grid-gap: 20px;
          margin-top: 10px; }
          .product__page .variation > div .color ul li {
            display: block;
            width: 100%;
            padding-top: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all ease-in-out 0.2s;
            border-radius: 4px;
            border: medium solid #f1f1f1; }
            .product__page .variation > div .color ul li:hover {
              border: medium solid #000000; }
      .product__page .variation > div .size {
        margin: 5% 0; }
        .product__page .variation > div .size p {
          font-size: medium;
          text-align: start;
          font-weight: 500;
          text-transform: capitalize; }
        .product__page .variation > div .size ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(auto, 50px));
          grid-gap: 20px;
          margin-top: 10px; }
          .product__page .variation > div .size ul li {
            display: block;
            width: 100%;
            padding-top: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all ease-in-out 0.2s;
            position: relative;
            width: 100%;
            border-radius: 4px;
            border: medium solid #f1f1f1; }
            .product__page .variation > div .size ul li:hover {
              border: medium solid #000000; }
            .product__page .variation > div .size ul li span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
      .product__page .variation > div button {
        transition: all ease-in-out 0.2s;
        width: 100%;
        background-color: #000000;
        border-radius: 4px;
        color: #fff;
        margin: 5% 0;
        text-transform: uppercase;
        padding: 15px;
        border: thin solid #000000;
        font-size: large; }
        .product__page .variation > div button:hover {
          background-color: #ffffff;
          color: #000000; }
      .product__page .variation > div .interact {
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        .product__page .variation > div .interact div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .product__page .variation > div .interact div svg {
            margin-right: 10px; }
      .product__page .variation > div .guide {
        margin: 5% 0; }
        .product__page .variation > div .guide li {
          transition: all ease-in-out 0.2s;
          cursor: pointer;
          margin: 20px 0;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: thin solid #f1f1f1; }
          .product__page .variation > div .guide li:hover {
            border-bottom: thin solid #000000; }
          .product__page .variation > div .guide li svg {
            width: 15px;
            height: 15px;
            fill: none;
            stroke: #aeaeae;
            transition: all ease-in-out 0.2s; }
  .product__page .footer {
    grid-area: 7 / 1 / 8 / 7; }

.checkout__page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px; }
  .checkout__page .checkout__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-area: 1 / 1 / 3 / 5;
    padding: 10% 0 0% 15%; }
    .checkout__page .checkout__form h1 {
      font-size: medium;
      text-align: center;
      font-weight: bold; }
    .checkout__page .checkout__form p {
      font-size: small;
      text-align: center; }
    .checkout__page .checkout__form form {
      width: 100%; }
      .checkout__page .checkout__form form input {
        border: thin solid #aeaeae;
        border-radius: 4px;
        padding: 10px 15px;
        width: 100%;
        margin: 10px 0; }
        .checkout__page .checkout__form form input:hover {
          border: thin solid #000000;
          border-radius: 4px; }
        .checkout__page .checkout__form form input:focus {
          border: thin solid #000000;
          border-radius: 4px; }
    .checkout__page .checkout__form div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin: 10px 0; }
      .checkout__page .checkout__form div select {
        border: thin solid #aeaeae;
        border-radius: 4px;
        padding: 10px 15px; }
  .checkout__page .checkout__method {
    padding: 0% 0 0% 15%;
    grid-area: 3/ 1 / 4 / 5; }
    .checkout__page .checkout__method h1 {
      font-size: medium;
      text-align: center;
      font-weight: bold; }
    .checkout__page .checkout__method form input:checked + label {
      border: thin solid #000000;
      border-radius: 4px;
      background-color: #000000;
      color: #ffffff; }
    .checkout__page .checkout__method form label {
      border: thin solid #aeaeae;
      border-radius: 4px;
      font-size: medium;
      text-align: center;
      transition: all ease-in-out 0.2s;
      display: block;
      padding: 10px 15px;
      margin: 10px 0;
      width: 100%; }
      .checkout__page .checkout__method form label:hover {
        border: thin solid #000000;
        border-radius: 4px;
        background-color: #000000;
        color: #ffffff; }
  .checkout__page .checkout__cart {
    grid-area: 1 / 5 / 4 / 7;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin: 15% 20% 0 0;
    padding: 20px; }
    .checkout__page .checkout__cart .product__list {
      width: 100%;
      min-height: 45vh;
      overflow: auto; }
      .checkout__page .checkout__cart .product__list li {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px; }
        .checkout__page .checkout__cart .product__list li .product__thumbnail {
          display: block;
          width: 100%;
          padding-top: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .checkout__page .checkout__cart .product__list li div h6 {
          font-size: medium;
          margin-bottom: 5px; }
        .checkout__page .checkout__cart .product__list li div span {
          color: #aeaeae;
          margin-bottom: 5px;
          display: block; }
        .checkout__page .checkout__cart .product__list li div strong {
          margin-bottom: 5px; }
        .checkout__page .checkout__cart .product__list li div .add__product {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .checkout__page .checkout__cart .product__list li div .add__product button {
            background-color: transparent;
            margin: 0 5px;
            border: transparent;
            padding: 10px;
            font-size: large; }
    .checkout__page .checkout__cart .discount__code {
      display: grid;
      grid-template-columns: 1fr auto; }
      .checkout__page .checkout__cart .discount__code input {
        margin: 0;
        border: 1px solid #aeaeae;
        height: 100%;
        padding: 10px;
        border-radius: 0; }
      .checkout__page .checkout__cart .discount__code button {
        background-color: #eaeaea;
        color: #333;
        font-weight: 700;
        border: none;
        font-size: 14px;
        padding: 10px;
        width: auto;
        margin: 0;
        height: 100%; }
    .checkout__page .checkout__cart .total__cart {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      border-top: thin solid #aeaeae;
      padding: 10px 20px;
      margin: 20px 0; }
      .checkout__page .checkout__cart .total__cart p {
        font-size: x-large;
        text-align: center;
        font-weight: 600;
        margin-right: 15px; }
      .checkout__page .checkout__cart .total__cart strong {
        font-size: xx-large;
        text-align: center;
        font-weight: bold; }
    .checkout__page .checkout__cart > button {
      transition: all ease-in-out 0.2s;
      width: 100%;
      color: #fff;
      font-size: medium;
      text-transform: uppercase;
      background-color: #000000;
      padding: 20px;
      border: thin solid transparent;
      border-radius: 4px;
      color: #ffffff; }
      .checkout__page .checkout__cart > button:hover {
        background-color: #ffffff;
        color: #000000;
        border: thin solid #000000; }
  .checkout__page .footer {
    grid-area: 4 / 1 / 5 / 7; }

.blog__page .highlight {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 20px 50px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5% 10%; }
  .blog__page .highlight__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .blog__page .highlight__item a {
      width: 100%; }
      .blog__page .highlight__item a span {
        display: block;
        width: 100%;
        padding-top: 125%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all ease-in-out 0.2s; }
        .blog__page .highlight__item a span:hover {
          filter: grayscale(1); }
    .blog__page .highlight__item p {
      font-size: medium;
      text-align: center;
      font-weight: 600;
      line-height: 1.3;
      margin-top: 15px;
      padding: 20px 30px; }
.blog__page .category {
  padding: 5% 10%;
  background-color: #f1f1f1; }
  .blog__page .category h1 {
    font-size: x-large;
    text-align: center;
    font-weight: 600; }
  .blog__page .category ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 40px; }
    .blog__page .category ul li {
      width: 100%; }
      .blog__page .category ul li a {
        width: 100%; }
        .blog__page .category ul li a span {
          display: block;
          width: 100%;
          padding-top: 56.25%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all ease-in-out 0.2s; }
          .blog__page .category ul li a span:hover {
            filter: grayscale(1);
            background-position: top left; }
      .blog__page .category ul li p {
        font-size: medium;
        text-align: center;
        font-weight: 500;
        margin-top: 10px; }
.blog__page .latest {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 50px 10%; }
  .blog__page .latest ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px 0;
    padding: 20px 10%; }
    .blog__page .latest ul li {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-gap: 20px; }
      .blog__page .latest ul li a {
        width: 100%; }
        .blog__page .latest ul li a span {
          display: block;
          width: 100%;
          padding-top: 56.25%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
      .blog__page .latest ul li p {
        width: 100%;
        font-size: 1.3rem;
        padding: 25px; }
        .blog__page .latest ul li p a {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          line-height: 1.5; }
          .blog__page .latest ul li p a i {
            font-size: small;
            margin-bottom: 15px;
            color: #aeaeae; }

.article__page .article__related {
  border-bottom: thin solid #f1f1f1; }
  .article__page .article__related ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 2.5% 10%; }
    .article__page .article__related ul li {
      display: grid;
      grid-template-columns: 30% 1fr;
      grid-gap: 20px;
      align-items: center; }
      .article__page .article__related ul li a {
        width: 100%; }
        .article__page .article__related ul li a span {
          display: block;
          width: 100%;
          padding-top: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
      .article__page .article__related ul li p a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start; }
        .article__page .article__related ul li p a i {
          margin: 5px 0; }
        .article__page .article__related ul li p a strong {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 250px;
          margin-top: 10px;
          line-height: 1.5;
          text-transform: capitalize; }
.article__page .article__content {
  padding: 2.5% 10%; }
  .article__page .article__content h1 {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    line-height: 1.5; }
  .article__page .article__content .main__banner {
    display: block;
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .article__page .article__content .main__description {
    font-size: medium;
    text-align: justify;
    font-weight: 600;
    padding: 5%;
    line-height: 2; }
    .article__page .article__content .main__description:first-letter {
      float: left;
      font-size: 4rem;
      line-height: 0.8;
      margin-right: 3px; }
  .article__page .article__content ul {
    padding: 0 5%; }
    .article__page .article__content ul li h2 {
      font-size: large;
      text-align: start;
      font-weight: 600;
      margin-bottom: 20px; }
    .article__page .article__content ul li figure img {
      width: 100%; }
    .article__page .article__content ul li p {
      font-size: medium;
      line-height: 1.5;
      margin: 5px 0; }

.campaign__page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2% 10px; }
  .campaign__page .hero__banner {
    grid-area: 1 / 1 / 2 / 7; }
  .campaign__page .gender__filter {
    grid-area: 2 / 2 / 3 / 7;
    padding: 0 5%; }
  .campaign__page .categories__filter {
    grid-area: 3 / 1 / 5 / 2;
    padding-left: 30%;
    position: relative; }
    .campaign__page .categories__filter .filter__list {
      position: sticky;
      top: 100px; }
      .campaign__page .categories__filter .filter__list ul {
        width: 100%; }
        .campaign__page .categories__filter .filter__list ul li {
          border-bottom: thin solid #f1f1f1;
          transition: all ease-in-out 0.2s;
          margin-bottom: 15px; }
          .campaign__page .categories__filter .filter__list ul li h4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-transform: capitalize;
            padding: 10px 0;
            font-weight: 400;
            font-size: small; }
            .campaign__page .categories__filter .filter__list ul li h4 svg {
              width: 15px;
              height: 15px;
              fill: none;
              fill: #aeaeae;
              transition: all ease-in-out 0.2s; }
          .campaign__page .categories__filter .filter__list ul li ul {
            display: none; }
            .campaign__page .categories__filter .filter__list ul li ul li label {
              display: block;
              cursor: pointer;
              width: 100%;
              padding: 10px 5px; }
              .campaign__page .categories__filter .filter__list ul li ul li label input {
                display: none; }
                .campaign__page .categories__filter .filter__list ul li ul li label input:checked + span:before {
                  transform: scale(1.04);
                  background: #e9a246; }
                .campaign__page .categories__filter .filter__list ul li ul li label input:checked + span:after {
                  transform: scale(0.4);
                  transition: transform 0.3s ease; }
              .campaign__page .categories__filter .filter__list ul li ul li label span {
                display: block;
                position: relative;
                text-transform: capitalize;
                line-height: 15px;
                height: 15px;
                padding-left: 15px; }
                .campaign__page .categories__filter .filter__list ul li ul li label span::before {
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: block;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  position: absolute;
                  background: #d1d7e3;
                  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
                .campaign__page .categories__filter .filter__list ul li ul li label span::after {
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: block;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  position: absolute;
                  background: #fff;
                  transform: scale(0.78);
                  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }
  .campaign__page .categories__products {
    grid-area: 3 / 2 / 5 / 7;
    padding: 0 5%;
    width: 100%; }
    .campaign__page .categories__products ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      grid-gap: 20px; }
      .campaign__page .categories__products ul li {
        width: 100%; }
  .campaign__page .footer {
    grid-area: 5 / 1 / 7 / 7; }

.search__page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2% 10px; }
  .search__page .input {
    grid-area: 1 / 1 / 2 / 7;
    width: 100%;
    padding: 40px 5%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border-bottom: thin solid #f1f1f1; }
    .search__page .input input {
      border: thin solid #aeaeae;
      width: 50%;
      padding: 10px; }
  .search__page .gender__filter {
    grid-area: 2 / 2 / 3 / 7;
    padding: 0 5%; }
  .search__page .categories__filter {
    grid-area: 3 / 1 / 5 / 2;
    padding-left: 30%;
    position: relative; }
    .search__page .categories__filter .filter__list {
      position: sticky;
      top: 100px; }
      .search__page .categories__filter .filter__list ul {
        width: 100%; }
        .search__page .categories__filter .filter__list ul li {
          border-bottom: thin solid #f1f1f1;
          transition: all ease-in-out 0.2s;
          margin-bottom: 15px; }
          .search__page .categories__filter .filter__list ul li h4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-transform: capitalize;
            padding: 10px 0;
            font-weight: 400;
            font-size: small; }
            .search__page .categories__filter .filter__list ul li h4 svg {
              width: 15px;
              height: 15px;
              fill: none;
              fill: #aeaeae;
              transition: all ease-in-out 0.2s; }
          .search__page .categories__filter .filter__list ul li ul {
            display: none; }
            .search__page .categories__filter .filter__list ul li ul li label {
              display: block;
              cursor: pointer;
              width: 100%;
              padding: 10px 5px; }
              .search__page .categories__filter .filter__list ul li ul li label input {
                display: none; }
                .search__page .categories__filter .filter__list ul li ul li label input:checked + span:before {
                  transform: scale(1.04);
                  background: #e9a246; }
                .search__page .categories__filter .filter__list ul li ul li label input:checked + span:after {
                  transform: scale(0.4);
                  transition: transform 0.3s ease; }
              .search__page .categories__filter .filter__list ul li ul li label span {
                display: block;
                position: relative;
                text-transform: capitalize;
                line-height: 15px;
                height: 15px;
                padding-left: 15px; }
                .search__page .categories__filter .filter__list ul li ul li label span::before {
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: block;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  position: absolute;
                  background: #d1d7e3;
                  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
                .search__page .categories__filter .filter__list ul li ul li label span::after {
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: block;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  position: absolute;
                  background: #fff;
                  transform: scale(0.78);
                  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }
  .search__page .categories__products {
    grid-area: 3 / 2 / 5 / 7;
    padding: 0 5%;
    width: 100%; }
    .search__page .categories__products ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      grid-gap: 20px; }
      .search__page .categories__products ul li {
        width: 100%; }
  .search__page .footer {
    grid-area: 5 / 1 / 7 / 7; }

.hero__banner {
  width: 100%; }
  .hero__banner div {
    display: block;
    width: 100%;
    padding-top: 38.8888888889%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.gender__filter {
  width: 100%; }
  .gender__filter ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; }
    .gender__filter ul li {
      border: thin solid #aeaeae;
      border-radius: 4px;
      font-size: large;
      text-align: center;
      font-weight: 600;
      transition: all ease-in-out 0.2s;
      width: 100%;
      padding: 20px; }
      .gender__filter ul li:hover {
        background-color: #000000;
        color: #ffffff; }
      .gender__filter ul li.active {
        background-color: #000000;
        color: #ffffff; }

.related_product {
  padding: 5%; }
  .related_product h1 {
    font-size: large;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px; }
  .related_product ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    grid-gap: 20px; }

html {
  font-size: 14px; }

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  width: 100vw;
  padding: 0;
  margin: 0; }

main {
  padding-top: 65px; }

button,
li,
label,
svg {
  cursor: pointer; }

.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both; }
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media (max-width: 425px) {
  main {
    padding-top: 0; } }

/*# sourceMappingURL=styles.css.map */
