.header {
  box-shadow: 1px 1px 4px #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .header .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    padding: 0 5%;
    background-color: #ffffff; }
    .header .nav__left {
      display: grid;
      place-content: center start; }
      .header .nav__left--items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .header .nav__left--items div {
          font-size: medium;
          text-align: center;
          padding: 25px 20px;
          text-transform: uppercase;
          letter-spacing: 1.3px;
          margin: 0 15px;
          position: relative; }
          .header .nav__left--items div::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all ease-in-out 0.2s;
            width: 0%;
            height: 3px;
            background-color: #955c38; }
          .header .nav__left--items div.active::after {
            width: 100%; }
          .header .nav__left--items div.active a {
            color: #000000; }
    .header .nav__logo {
      display: grid;
      place-content: center;
      width: 100%; }
      .header .nav__logo svg {
        width: 40px;
        height: 40px; }
    .header .nav__right {
      display: grid;
      place-content: center end; }
      .header .nav__right--items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .header .nav__right--items div {
          transition: all ease-in-out 0.2s;
          border: thin solid transparent;
          border-radius: 4px;
          padding: 10px; }
          .header .nav__right--items div:hover {
            background-color: rgba(241, 241, 241, 0.6); }
          .header .nav__right--items div.active {
            background-color: rgba(241, 241, 241, 0.6); }

.megamenu__container {
  box-shadow: 1px 5px 4px #f1f1f1;
  display: none;
  width: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
  position: fixed;
  z-index: 100; }
  .megamenu__container.active {
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px; }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .megamenu__container div h1 {
    font-size: medium;
    text-align: start;
    letter-spacing: 1.3px;
    text-decoration: underline; }
  .megamenu__container div .megamenu__categories li {
    margin-top: 15px; }
    .megamenu__container div .megamenu__categories li a {
      text-transform: capitalize; }
  .megamenu__container div h1 {
    font-size: medium;
    text-align: start;
    letter-spacing: 1.3px;
    text-decoration: underline; }
  .megamenu__container div .megamenu__newarrivals li {
    margin-top: 15px; }
    .megamenu__container div .megamenu__newarrivals li a {
      text-transform: capitalize; }
  .megamenu__container .megamenu__banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px; }
    .megamenu__container .megamenu__banner li a {
      display: block;
      width: 100%;
      padding-top: 125%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

.search__container {
  box-shadow: 1px 5px 4px #f1f1f1;
  display: none;
  width: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
  position: fixed;
  z-index: 100; }
  .search__container.active {
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: block; }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .search__container div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; }
    .search__container div input {
      border: thin solid #aeaeae;
      width: 50%;
      padding: 10px; }

.cart__container {
  display: none;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  place-items: start end; }
  .cart__container.active {
    -webkit-animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: grid; }
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
  .cart__container .mini__cart {
    box-shadow: 1px 5px 4px #f1f1f1;
    width: 30%;
    background-color: #ffffff; }
    .cart__container .mini__cart ul {
      width: 100%;
      padding: 20px 0;
      max-height: 60vh;
      overflow: auto; }
      .cart__container .mini__cart ul li {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px; }
        .cart__container .mini__cart ul li .product__thumbnail {
          display: block;
          width: 100%;
          padding-top: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .cart__container .mini__cart ul li div h6 {
          font-size: medium;
          margin-bottom: 5px; }
        .cart__container .mini__cart ul li div span {
          color: #aeaeae;
          margin-bottom: 5px;
          display: block; }
        .cart__container .mini__cart ul li div strong {
          margin-bottom: 5px; }
        .cart__container .mini__cart ul li div .add__product {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .cart__container .mini__cart ul li div .add__product button {
            background-color: transparent;
            margin: 0 5px;
            border: transparent;
            padding: 10px;
            font-size: large; }
    .cart__container .mini__cart .cart__total {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      border-top: thin solid #f1f1f1; }
      .cart__container .mini__cart .cart__total span {
        font-size: medium; }
      .cart__container .mini__cart .cart__total strong {
        font-size: large; }
    .cart__container .mini__cart .cart__btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; }
      .cart__container .mini__cart .cart__btn button {
        box-shadow: 1px 1px 5px #f1f1f1;
        transition: all ease-in-out 0.2s;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        border: transparent;
        text-transform: uppercase;
        font-weight: bold; }
        .cart__container .mini__cart .cart__btn button:hover {
          background-color: #000000;
          color: #ffffff; }
        .cart__container .mini__cart .cart__btn button.checkout__btn {
          background-color: #000000;
          color: #ffffff; }

.footer {
  width: 100%;
  padding: 2.5% 5% 0 5%;
  background-color: #f7f7f7; }
  .footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .footer div .company__info {
      display: flex;
      flex-direction: column;
      justify-content: flext-start;
      align-items: start; }
      .footer div .company__info img {
        width: 50%; }
      .footer div .company__info ul {
        margin: 10px 0; }
        .footer div .company__info ul li {
          line-height: 2;
          color: #808080; }
    .footer div .company__policy ul {
      margin: 0 20px; }
      .footer div .company__policy ul li {
        line-height: 2;
        text-transform: capitalize;
        text-align: end; }
        .footer div .company__policy ul li a {
          color: #808080; }
    .footer div .about__us {
      flex-direction: column;
      width: 50%;
      line-height: 2;
      color: #808080; }
    .footer div .social__network a {
      margin: 0 15px; }
      .footer div .social__network a svg {
        fill: #aeaeae; }
    .footer div.end__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: thin solid #f1f1f1;
      padding: 20px 0;
      margin: 0; }
      .footer div.end__footer h1 {
        font-size: medium;
        text-align: start;
        color: #aeaeae;
        text-transform: capitalize; }
      .footer div.end__footer .mobile__app {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0; }
        .footer div.end__footer .mobile__app a {
          margin: 0 10px; }
          .footer div.end__footer .mobile__app a svg {
            fill: #aeaeae; }
        .footer div.end__footer .mobile__app p {
          color: #aeaeae; }

.products__slider {
  width: 100%;
  margin: 20px 0; }

.product {
  width: 100%;
  position: relative; }
  .product .thumbnail a {
    width: 100%; }
    .product .thumbnail a span {
      display: block;
      width: 100%;
      padding-top: 125%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(241, 241, 241, 0.6); }
      .product .thumbnail a span:hover {
        background-blend-mode: multiply; }
  .product .name {
    font-size: medium;
    text-align: center;
    font-weight: 600;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer; }
  .product .price {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, auto));
    grid-template-rows: 1fr;
    place-items: center; }
    .product .price .discount {
      color: #aeaeae;
      text-decoration: line-through; }
  .product .tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #c1272d;
    color: #ffffff;
    border-radius: 0 0 0 4px;
    text-align: center; }

/* main menu */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===== CUSTOM RESET ===== */
object {
  outline: none;
  display: block;
  overflow: hidden; }

/* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
input,
button {
  outline: none;
  font-family: "Barlow", sans-serif; }

textarea {
  overflow: auto; }

/* fix IE */
iframe {
  border: 0; }

a {
  text-decoration: none;
  color: #808080;
  display: inline-block;
  cursor: pointer;
  font-family: "Barlow", sans-serif; }

a:visited {
  color: #808080; }

a:hover {
  color: var(--black); }

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  /* font-family: Noto Sans Semi; */ }

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="text"] {
  /*background: transparent !important;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input::placeholder {
  font-family: "Barlow", sans-serif; }

button:focus,
button:blur {
  border: none; }

.hidden_scroll {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */ }

.hidden_scroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */ }

div,
li,
ul,
a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

svg {
  width: 25px;
  height: 25px; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.glide * {
  box-sizing: inherit; }

.glide__track {
  overflow: hidden; }

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  /* overflow: hidden; */
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none; }

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  /* box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); */
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow svg {
    width: 50px;
    height: 50px;
    stroke: transparent;
    fill: #f1f1f1; }

.glide__arrow:focus {
  outline: none; }

.glide__arrow:hover {
  border-color: white; }

.glide__arrow--left {
  left: 1em; }

.glide__arrow--right {
  right: 1em; }

.glide__arrow--disabled {
  opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  opacity: 0.5;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(0, 0, 0, 0.3);
  width: 25px;
  height: 3px;
  padding: 0;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.25em; }

.glide__bullet:focus {
  outline: none; }

.glide__bullet:hover,
.glide__bullet:focus {
  background-color: var(--black); }

.glide__bullet--active {
  background-color: var(--black); }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

@media (max-width: 429px) {
  .glide__bullets {
    bottom: -15px; } }
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: normal; }

.slide__banner {
  width: 100%; }
  .slide__banner .glide__slide div {
    display: block;
    width: 100%;
    padding-top: 38.8888888889%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.categories__banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 20px 0; }
  .categories__banner div a {
    display: block;
    width: 100%;
    padding-top: 57.1428571429%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: normal; }
    .categories__banner div a:hover {
      background-blend-mode: multiply; }

.new-arrivals__slide {
  padding: 5%; }
  .new-arrivals__slide h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer; }
  .new-arrivals__slide .gender__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0; }
    .new-arrivals__slide .gender__toggle button {
      font-size: medium;
      text-align: center;
      font-weight: 600;
      border: thin solid transparent;
      background-color: transparent;
      margin: 0 10px;
      padding: 10px;
      position: relative; }
      .new-arrivals__slide .gender__toggle button::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #c1272d;
        border-radius: 50px;
        opacity: 0;
        transition: all ease-in-out 0.2s; }
      .new-arrivals__slide .gender__toggle button::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: #000000;
        border-radius: 4px;
        transition: all ease-in-out 0.2s; }
      .new-arrivals__slide .gender__toggle button.active::before, .new-arrivals__slide .gender__toggle button:hover::before {
        opacity: 1; }
      .new-arrivals__slide .gender__toggle button.active::after, .new-arrivals__slide .gender__toggle button:hover::after {
        width: 100%; }

.stylepick__slide {
  padding: 5%;
  background-color: #adbabf; }
  .stylepick__slide h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
    cursor: pointer; }

.weekly__best {
  padding: 5%; }
  .weekly__best h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer; }
  .weekly__best .gender__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0; }
    .weekly__best .gender__toggle button {
      font-size: medium;
      text-align: center;
      font-weight: 600;
      border: thin solid transparent;
      background-color: transparent;
      margin: 0 10px;
      padding: 10px;
      position: relative; }
      .weekly__best .gender__toggle button::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #c1272d;
        border-radius: 50px;
        opacity: 0;
        transition: all ease-in-out 0.2s; }
      .weekly__best .gender__toggle button::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: #000000;
        border-radius: 4px;
        transition: all ease-in-out 0.2s; }
      .weekly__best .gender__toggle button.active::before, .weekly__best .gender__toggle button:hover::before {
        opacity: 1; }
      .weekly__best .gender__toggle button.active::after, .weekly__best .gender__toggle button:hover::after {
        width: 100%; }
  .weekly__best ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    grid-gap: 20px; }

.blog {
  padding: 5%; }
  .blog h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer; }
  .blog .blog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45%);
    grid-gap: 5%;
    margin: 20px 0; }
    .blog .blog__list li {
      width: 100%; }
      .blog .blog__list li a {
        width: 100%; }
        .blog .blog__list li a span {
          display: block;
          width: 100%;
          padding-top: 56.25%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .blog .blog__list li a p {
          font-size: large;
          text-align: center;
          font-weight: 600;
          word-break: break-word;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          margin-top: 20px;
          cursor: pointer; }
      .blog .blog__list li:nth-child(even) {
        margin-top: 50px; }

.lookbook {
  padding: 5% 0; }
  .lookbook h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer; }
  .lookbook .lookbook__list {
    margin: 20px 0; }
    .lookbook .lookbook__list ul li {
      width: 100%; }
      .lookbook .lookbook__list ul li a {
        display: block;
        width: 100%;
        padding-top: 57.1428571429%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }

html {
  font-size: 14px; }

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  width: 100vw;
  padding: 0;
  margin: 0; }

main {
  padding-top: 65px; }

button,
li,
label,
svg {
  cursor: pointer; }

.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both; }
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
