.article__page {
  .article__related {
    border-bottom: thin solid $light;
    ul {
      @include grid(repeat(3, 1fr), null, 20px);
      padding: 2.5% 10%;
      li {
        @include grid(30% 1fr, null, 20px);
        align-items: center;
        a {
          width: 100%;
          span {
            @include ratio(1, 1);
          }
        }
        p {
          a {
            @include flex(column, center, start);
            i {
              margin: 5px 0;
            }
            strong {
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 250px;
              margin-top: 10px;
              line-height: 1.5;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
  .article__content {
    padding: 2.5% 15%;
    &--header {
      h1 {
        @include font(xxx-large, start, bold);
        padding: 20px 0;
        line-height: 1.5;
      }
      em {
        margin-top: 20px;
        color: $silver;
        @include font(large, start, 600);
        &::before {
          content: '"';
        }
        &::after {
          content: '"';
        }
      }
      .author__info {
        @include grid(50px 1fr, null, 10px);
        margin-top: 20px;
        align-items: center;
        &--avt {
          span {
            @include ratio(1, 1);
            @include border($light, 50px);
          }
        }
        &--overview {
          p {
            margin: 10px 0;
            color: $silver;
            &.name {
              @include font(medium, start, 600);
              color: $black;
            }
          }
        }
      }
      .article__banner {
        margin-top: 20px;
        span {
          @include ratio(16, 9);
        }
      }
    }
    &--body {
      margin-top: 50px;
      padding: 0 5%;
    }
  }
}

@media (max-width: 435px) {
  .article__page {
    .article__related {
      ul {
        padding: 5%;
        width: 100vw;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        overscroll-behavior: none;
        li {
          scroll-snap-align: start;
          display: inline-grid;
          width: 100%;
          padding: 10px;
          p {
            a {
              strong {
                max-width: 150px;
              }
            }
          }
        }
      }
    }
    .article__content {
      padding: 0;
      &--header {
        h1 {
          font-size: large;
          padding: 10px 20px;
        }
        em {
          display: block;
          font-size: small;
          font-weight: normal;
          padding: 10px 20px;
          margin-top: 0;
        }
        .author__info {
          margin-top: 0;
          padding: 10px 20px;
        }
      }
    }
  }
}
