.campaign__page {
  // @include grid(repeat(6, 1fr), null, 25px);
  display: block;
  .campaign-detail {
    padding: 40px;
    text-align: center;
    margin: 20vh 0;
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 12px;
      font-family: serif;
      text-transform: capitalize;
    }
    p {
      margin-bottom: 12px;
    }
    .clock {
      display: flex;
      justify-content: center;
      margin: 22px 0 34px;
      min-height: 60px;
      div {
        display: flex;
        align-items: center;
        margin: 0 8px;
        color: #aeaeae;
        min-width: 62px;
        span {
          color: #191919;
          display: inline-block;
          margin-left: 2px;
          font-size: 18px;
          margin: 4px;
          font-weight: 600;
        }
      }
    }
  }
  .hero__banner {
    grid-area: 1 / 1 / 2 / 7;
    margin-bottom: 80px;
    div {
      @include ratio(18, 7);
    }
  }
  .gender__filter {
    // grid-area: 2 / 1 / 3 / 7;
    padding: 0 5%;
    text-align: center;
    ul {
      display: block;
      li {
        border: 0;
        cursor: pointer;
        width: auto;
        min-width: 100px;
        text-decoration: underline;
        display: inline-block;
        margin: 0 24px;
        font-size: 18px;
        &:hover {
          background: transparent;
          color: inherit;
        }
        &.active {
          opacity: 1 !important;
          background: transparent;
          color: inherit;
        }
        &.inactive {
          opacity: .25;
        }
      }
    }
  }
  // .categories__filter {
  //   grid-area: 3 / 1 / 5 / 2;
  //   padding-left: 30%;
  //   position: relative;
  //   .filter__list {
  //     position: sticky;
  //     top: 100px;
  //     ul {
  //       width: 100%;
  //       li {
  //         border-bottom: thin solid $light;
  //         transition: all ease-in-out 0.2s;
  //         margin-bottom: 15px;
  //         h4 {
  //           @include flex(row, space-between, center);
  //           text-transform: capitalize;
  //           padding: 10px 0;
  //           font-weight: 400;
  //           font-size: small;
  //           svg {
  //             width: 15px;
  //             height: 15px;
  //             fill: none;
  //             fill: $silver;
  //             transition: all ease-in-out 0.2s;
  //           }
  //         }
  //         ul {
  //           display: none;
  //           // @include grid(1fr, null, 5px);
  //           li {
  //             label {
  //               display: block;
  //               cursor: pointer;
  //               width: 100%;
  //               padding: 10px 5px;
  //               input {
  //                 display: none;
  //                 &:checked + span:before {
  //                   transform: scale(1.04);
  //                   background: $yellow;
  //                 }
  //                 &:checked + span:after {
  //                   transform: scale(0.4);
  //                   transition: transform 0.3s ease;
  //                 }
  //               }
  //               span {
  //                 display: block;
  //                 position: relative;
  //                 text-transform: capitalize;
  //                 line-height: 15px;
  //                 height: 15px;
  //                 padding-left: 15px;
  //                 &::before {
  //                   content: "";
  //                   width: 15px;
  //                   height: 15px;
  //                   display: block;
  //                   border-radius: 50%;
  //                   left: 0;
  //                   top: 0;
  //                   position: absolute;
  //                   background: #d1d7e3;
  //                   transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  //                 }
  //                 &::after {
  //                   content: "";
  //                   width: 15px;
  //                   height: 15px;
  //                   display: block;
  //                   border-radius: 50%;
  //                   left: 0;
  //                   top: 0;
  //                   position: absolute;
  //                   background: #fff;
  //                   transform: scale(0.78);
  //                   transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  //                 }
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .categories__products {
    grid-area: 3 / 1 / 5 / 7;
    padding: 5%;
    width: 100%;
    ul {
      @include grid(repeat(auto-fit, minmax(30%, 1fr)), null, 20px);
      li {
        width: 100%;
      }
    }
  }
  .footer {
    grid-area: 5 / 1 / 7 / 7;
  }
}

@media (max-width: 426px) {
  .campaign__page {
    grid-gap: 20px;
    .hero__banner {
      margin-bottom: 40px;
      div {
        @include ratio(4, 5);
      }
    }
    .categories__filter {
      grid-area: 3 / 1 / 4 / 7;
      padding-left: 5%;
      .filter__toggle {
        @include flex(row, start, center);
        display: inline-flex;
        cursor: pointer;
        svg {
          margin-right: 10px;
          padding: 3px;
        }
      }
      .filter__list {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -9999px;
        background: $white;
        z-index: 10;
        @include transition;
        &.active {
          left: 0%;
        }
        ul {
          padding: 5%;
        }
        .filter__action {
          @include flex(row, space-around, center);
          button {
            @include border($black, 4px);
            padding: 10px 15px;
            background-color: transparent;
            width: 40%;
          }
        }
      }
    }
    .gender__filter {
      grid-area: 2 / 1 / 3 / 7;
    }
    .categories__products {
      padding: 25px 0;
      grid-area: 4 / 1 / 5 / 7;
      ul {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      }
    }
  }
}

//
// Thanh's code
//
.flash-sale-page {
  .campaign-detail {
    padding: 40px 15px;
    text-align: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 12px;
      font-family: serif;
      text-transform: capitalize;
      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
    p {
      margin-bottom: 12px;
    }
    .clock {
      margin-bottom: 14px;
    }
    /*
    .clock {
      display: flex;
      justify-content: center;
      margin: 22px 0 34px;
      min-height: 60px;
      div {
        display: flex;
        align-items: center;
        margin: 0 8px;
        color: #aeaeae;
        min-width: 62px;
        span {
          color: #191919;
          display: inline-block;
          margin-left: 2px;
          font-size: 18px;
          margin: 4px;
          font-weight: 600;
        }
      }
    }
    */
  }
  .section-banner {
    padding: 15px;
    @media (min-width: 768px) {
      padding: 15px 5%;
    }
    .grid-row {
      display: grid;
      grid-gap: 14px;
      @media (min-width: 768px) {
        grid-gap: 18px;
        grid-template: auto / 1fr 1fr;
      }
      div {
        background: #cecece;
        cursor: pointer;
        background-size: cover;
        padding-top: calc(5 / 4 * 100%);
        @media (min-width: 768px) {
          padding-top: 100%;
          
        }
      }
    }
  }
  .section-product {
    padding: 25px 0;
    @media (min-width: 768px) {
      padding: 5%;
    }
    ul {
      display: grid;
      grid-gap: 10px;
      grid-template: auto / 1fr 1fr;
      @media (min-width: 768px) {
        grid-template: auto / 1fr 1fr 1fr;
      }
      @media (min-width: 1200px) {
        grid-template: auto / 1fr 1fr 1fr 1fr;
      }
    }
    .product-filter {
      text-align: center;
      margin-bottom: 25px;
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
      span {
        // min-width: 100px;
        text-decoration: underline;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        opacity: .5;
        font-family: serif;
        padding: 16px 8px;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

