.campaign__page {
  // @include grid(repeat(6, 1fr), null, 25px);
  display: block;
  .campaign-detail {
    padding: 40px;
    text-align: center;
    margin: 10vh 0;
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 12px;
      font-family: serif;
      text-transform: capitalize;
    }
    p {
      margin-bottom: 12px;
    }
    .clock {
      display: flex;
      justify-content: center;
      margin: 22px 0 34px;
      min-height: 60px;
      div {
        display: flex;
        align-items: center;
        margin: 0 8px;
        color: #aeaeae;
        min-width: 62px;
        span {
          color: #191919;
          display: inline-block;
          margin-left: 2px;
          font-size: 18px;
          margin: 4px;
          font-weight: 600;
        }
      }
    }
    a {
      @include font(large, center, 600);
      @include border($silver, 2px);
      @include transition;
      padding: 15px 25px;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
  .hero__banner {
    grid-area: 1 / 1 / 2 / 7;
    margin-bottom: 80px;
    div {
      @include ratio(18, 7);
    }
  }
  .campaign__filter {
    .gender__filter {
      @include grid(1fr 1fr, null, 0);
      li {
        @include transition;
        @include ratio(7, 2);
        cursor: pointer;
        background-color: rgba($color: $black, $alpha: 0.3);
        color: $black;
        background-position: bottom;
        &:hover {
          background-blend-mode: multiply;
          color: $white;
        }
        &.active {
          @include border($silver, 0px);
          opacity: 1 !important;
          background-blend-mode: multiply;
          color: $white;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
    .price__filter {
      @include flex(row, space-evenly, center);
      margin: 40px 0;
      li {
        @include border($silver, 2px);
        @include transition;
        @include font(medium, center, 600);
        cursor: pointer;
        width: auto;
        min-width: 200px;
        display: inline-block;
        padding: 15px 20px;
        &:hover {
          background: transparent;
          color: inherit;
        }
        &.active {
          opacity: 1 !important;
          background: transparent;
          color: inherit;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
  }

  .categories__products {
    grid-area: 3 / 1 / 5 / 7;
    padding: 20px 5%;
    width: 100%;
    ul {
      @include grid(repeat(auto-fit, minmax(20%, 1fr)), null, 20px);
      li {
        width: 100%;
      }
    }
  }
  .footer {
    grid-area: 5 / 1 / 7 / 7;
  }
}

@media (max-width: 435px) {
  .campaign__page {
    grid-gap: 20px;
    .hero__banner {
      margin-bottom: 40px;
      div {
        @include ratio(4, 5);
      }
    }
    .categories__filter {
      grid-area: 3 / 1 / 4 / 7;
      padding-left: 5%;
      .filter__toggle {
        @include flex(row, start, center);
        display: inline-flex;
        cursor: pointer;
        svg {
          margin-right: 10px;
          padding: 3px;
        }
      }
      .filter__list {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -9999px;
        background: $white;
        z-index: 10;
        @include transition;
        &.active {
          left: 0%;
        }
        ul {
          padding: 5%;
        }
        .filter__action {
          @include flex(row, space-around, center);
          button {
            @include border($black, 4px);
            padding: 10px 15px;
            background-color: transparent;
            width: 40%;
          }
        }
      }
    }
    .campaign__filter {
      .price__filter {
        @include grid(1fr 1fr, null, 10px);
        padding: 20px;
        li {
          min-width: auto;
          width: 100%;
        }
      }
    }
    .categories__products {
      padding: 25px 0;
      grid-area: 4 / 1 / 5 / 7;
      ul {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      }
    }
  }
}

//
// Thanh's code
//
.flash-sale-page {
  .campaign-detail {
    padding: 40px 15px;
    text-align: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 12px;
      font-family: serif;
      text-transform: capitalize;
      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
    p {
      margin-bottom: 12px;
    }
    .clock {
      margin-bottom: 14px;
    }
    /*
    .clock {
      display: flex;
      justify-content: center;
      margin: 22px 0 34px;
      min-height: 60px;
      div {
        display: flex;
        align-items: center;
        margin: 0 8px;
        color: #aeaeae;
        min-width: 62px;
        span {
          color: #191919;
          display: inline-block;
          margin-left: 2px;
          font-size: 18px;
          margin: 4px;
          font-weight: 600;
        }
      }
    }
    */
  }
  .section-banner {
    padding: 15px;
    @media (min-width: 768px) {
      padding: 15px 5%;
    }
    .grid-row {
      display: grid;
      grid-gap: 14px;
      @media (min-width: 768px) {
        grid-gap: 18px;
        grid-template: auto / 1fr 1fr;
      }
      div {
        background: #cecece;
        cursor: pointer;
        background-size: cover;
        padding-top: calc(5 / 4 * 100%);
        @media (min-width: 768px) {
          padding-top: 100%;
        }
      }
    }
  }
  .section-product {
    padding: 25px 0;
    @media (min-width: 768px) {
      padding: 5%;
    }
    ul {
      display: grid;
      grid-gap: 10px;
      grid-template: auto / 1fr 1fr;
      @media (min-width: 768px) {
        grid-template: auto / 1fr 1fr 1fr;
      }
      @media (min-width: 1200px) {
        grid-template: auto / 1fr 1fr 1fr 1fr;
      }
    }
    .product-filter {
      text-align: center;
      margin-bottom: 25px;
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
      span {
        // min-width: 100px;
        text-decoration: underline;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        opacity: 0.5;
        font-family: serif;
        padding: 16px 8px;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
