.campaign__page {
  @include grid(repeat(6, 1fr), null, 0);
 .promotion__popup {
  grid-area: 1 / 1 / 2 / 7;
 }
 .campaign__detail {
  grid-area: 3/1/4/7;
  padding: 40px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
    text-transform: capitalize;
    @media (min-width: 768px) {
      font-size: 28px;
    }
  }
  p {
    margin-bottom: 12px;
  }

  .clock {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    div {
      display: flex;
      align-items: center;
      margin: 0 8px;
      color: #aeaeae;
      min-width: 62px;
      span {
        color: #191919;
        display: inline-block;
        margin-left: 2px;
        font-size: 18px;
        margin: 4px;
        font-weight: 600;
      }
    }
  }

}
  .hero__banner {
    grid-area: 2 / 1 / 3 / 7;
    div {
      @include ratio(18, 8);
    }
    h1 {
      @include shadow(1px, 1px, 4px, $silver);
      margin: 2%;
      text-align: center;
      line-height: 2;
      padding: 20px;
    }
  }
  .campaign__filter {
    grid-area: 3 / 1 / 4 / 7;
    margin: 20px 0;
    .gender__filter {
      @include grid(1fr 1fr, null, 0);
      li {
        @include transition;
        @include ratio(7, 2);
        cursor: pointer;
        background-color: rgba($color: $black, $alpha: 0.3);
        color: $black;
        background-position: bottom;
        filter: grayscale(1);
        &:hover {
          background-blend-mode: multiply;
          color: $white;
        }
        &.active {
          opacity: 1 !important;
          background-blend-mode: normal;
          filter: grayscale(0);
          color: $white;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
    .price__filter {
      @include flex(row, space-evenly, center);
      margin: 40px 0;
      li {
        @include border($silver, 2px);
        @include transition;
        @include font(medium, center, 600);
        cursor: pointer;
        width: auto;
        min-width: 200px;
        display: inline-block;
        padding: 15px 20px;
        &:hover {
          background: transparent;
          color: inherit;
        }
        &.active {
          opacity: 1 !important;
          background: transparent;
          color: inherit;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
    .size__filter {
      @include flex(row, space-evenly, center);
      margin: 40px 0;
      li {
        @include border($silver, 2px);
        @include transition;
        @include font(medium, center, 600);
        cursor: pointer;
        width: auto;
        min-width: 200px;
        display: inline-block;
        padding: 15px 20px;
        &:hover {
          background: transparent;
          color: inherit;
        }
        &.active {
          opacity: 1 !important;
          background: $black;
          color: $white;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
  }
  .categories__filter {
    grid-area: 4 / 1 / 5 / 7;
    margin: 20px 0;
    h1 {
      @include font(large,center,700);
    }
    .price__filter {
      @include flex(row, space-evenly, center);
      margin: 40px 0;
      li {
        @include border($silver, 2px);
        @include transition;
        @include font(medium, center, 600);
        cursor: pointer;
        width: auto;
        min-width: 200px;
        display: inline-block;
        padding: 15px 20px;
        &:hover {
          background: transparent;
          color: inherit;
        }
        &.active {
          opacity: 1 !important;
          background: $black;
          color: $white;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
    .size__filter {
      @include flex(row, space-evenly, center);
      margin: 40px 0;
      li {
        @include border($silver, 2px);
        @include transition;
        @include font(medium, center, 600);
        cursor: pointer;
        width: auto;
        min-width: 200px;
        display: inline-block;
        padding: 15px 20px;
        &:hover {
          background: transparent;
          color: inherit;
        }
        &.active {
          opacity: 1 !important;
          background: $black;
          color: $white;
        }
        &.inactive {
          opacity: 0.25;
        }
      }
    }
  }
  .categories__products {
    grid-area: 5 / 1 / 6 / 7;
    width: 100%;
    margin-left: 0;
    padding: 0 5%;
    ul {
      @include grid(repeat(5, minmax(20%, 1fr)), null, 10px);
      .empty_product {
        padding: 5%;
        text-align: center;
      }
      li {
        width: 100%;
      }
    }
  }
  .footer {
    grid-area: 6 / 1 / 7 / 7;
  }
}


@media (max-width: 575px) {
  .campaign__page {
    grid-gap: 0;
    .hero__banner {
      margin-bottom: 10px;
      div {
        @include ratio(4, 5);
      }
      h1 {
        font-size: x-small;
      }
    }
    .categories__filter {
      grid-area: 4 / 1 / 5 / 7;
      .price__filter {
        @include grid(1fr 1fr, null, 10px);
        margin: 0;
        padding: 10px 0;
        li {
          min-width: auto;
          width: 100%;
        }
      }
      .size__filter {
        @include grid(repeat(auto-fit, minmax(10%, 1fr)), null, 10px);
        margin: 0;
        padding: 10px 0;
        li {
          min-width: auto;
          width: 100%;
          padding: 10px;
          span{
            font-size: x-small;
          }
        }
      }
    }
    .campaign__filter {
      grid-area: 3 / 1 / 4 / 7;
      .price__filter {
        @include grid(1fr 1fr, null, 10px);
        padding: 20px;
        li {
          min-width: auto;
          width: 100%;
        }
      }
    }
    .categories__products {
      padding: 0;
      grid-area: 5 / 1 / 6 / 7;
      ul {
        grid-gap: 1px;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      }
    }
    .footer {
      grid-area: 6 / 1 / 7 / 7;

    }
  }
}
