.categories {
  @include grid(repeat(6, 1fr), null, 2.5% 10px);
  .categories__info {
    grid-area: 1 / 1 / 2 / 7;
    padding: 2.5% 5% 0 5%;
    h1 {
      @include font(x-large, start, bold);
    }
    p {
      margin-top: 15px;
    }
  }

  .categories__list {
    grid-area: 2 / 1 / 3 / 7;
    padding: 0 5%;
    border-bottom: thin solid $light;
    ul {
      @include grid(repeat(5, minmax(auto, 18%)), null, 10px);
      @include transition;
      &:hover {
        color: $silver;
      }
      li {
        @include font(medium, start, 500);
        line-height: 1.5;
        text-transform: uppercase;
        position: relative;
        &::before {
          @include position(absolute, 0, 0, null, null);
          content: "";
          width: 5px;
          height: 5px;
          background-color: $red;
          border-radius: 50px;
          opacity: 0;
          @include transition;
        }
        &::after {
          @include position(absolute, null, null, 0, 0);
          content: "";
          width: 0%;
          height: 3px;
          background-color: $black;
          border-radius: 4px;
          @include transition;
        }
        &.active,
        &:hover {
          color: $black;
          &::before {
            opacity: 1;
          }
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .categories__filter {
    grid-area: 3 / 1 / 5 / 2;
    padding-left: 30%;
    position: relative;
    .filter__toggle {
      display: none;
    }
    .filter__list {
      position: sticky;
      top: 100px;
      ul {
        width: 100%;
        height: 80%;
        overflow: auto;
        li {
          border-bottom: thin solid $light;
          transition: all ease-in-out 0.2s;
          margin-bottom: 15px;
          h4 {
            @include flex(row, space-between, center);
            text-transform: capitalize;
            padding: 10px 0;
            font-weight: 400;
            font-size: small;
            svg {
              width: 15px;
              height: 15px;
              fill: none;
              fill: $silver;
              transition: all ease-in-out 0.2s;
            }
          }
          ul {
            @include grid(1fr, null, 5px);
            @include transition();
            height: 0;
            padding: 0 5%;
            &.active {
              height: auto;
              padding: 5%;
            }
            li {
              margin: 0;
              label {
                display: block;
                cursor: pointer;
                width: 100%;
                padding: 10px 5px;
                input {
                  display: none;
                  &:checked + span:before {
                    transform: scale(1.04);
                    background: $yellow;
                  }
                  &:checked + span:after {
                    transform: scale(0.4);
                    transition: transform 0.3s ease;
                  }
                }
                span {
                  display: block;
                  position: relative;
                  text-transform: capitalize;
                  line-height: 15px;
                  height: 15px;
                  padding-left: 15px;
                  &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    background: #d1d7e3;
                    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
                  }
                  &::after {
                    content: "";
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    background: #fff;
                    transform: scale(0.78);
                    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
                  }
                }
              }
            }
          }
        }
      }
      .filter__action {
        display: none;
      }
    }
  }

  .categories__products {
    grid-area: 3 / 2 / 5 / 7;
    padding: 0 5%;
    width: 100%;
    ul {
      @include grid(repeat(auto-fit, minmax(30%, 1fr)), null, 20px);
      li {
        &:first-child {
          grid-column: 1/3;
        }
        width: 100%;
      }
    }
  }
  .footer {
    grid-area: 5 / 1 / 7 / 7;
  }
}

@media (max-width: 426px) {
  .categories {
    padding-top: 0;
    grid-gap: 20px;
    .categories__info {
      h1 {
        display: none;
      }
      p {
        display: none;
      }
    }

    .categories__list {
      grid-area: 1 / 1 / 2 / 7;
      padding: 5%;
      ul {
        @include grid(repeat(5, minmax(100px, 18%)), null, 10px);
        @include hidden_scroll;
        max-width: 371px;
        overflow: auto;
        li {
          text-align: center;
        }
      }
    }

    .categories__filter {
      grid-area: 2 / 1 / 3 / 7;
      padding-left: 5%;
      .filter__toggle {
        @include flex(row, start, center);
        display: inline-flex;
        cursor: pointer;
        svg {
          margin-right: 10px;
          padding: 3px;
        }
      }
      .filter__list {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -9999px;
        background: $white;
        z-index: 10;
        @include transition;
        &.active {
          left: 0%;
        }
        ul {
          padding: 5%;
        }
        .filter__action {
          @include flex(row, space-around, center);
          button {
            @include border($black, 4px);
            padding: 10px 15px;
            background-color: transparent;
            width: 40%;
          }
        }
      }
    }

    .categories__products {
      grid-area: 3 / 1 / 5 / 7;
      padding: 0 5%;
      width: 100%;
      ul {
        @include grid(repeat(auto-fit, minmax(30%, 1fr)), null, 20px);
        li {
          width: 100%;
        }
      }
    }
  }
}
