.history__page {
  // @include grid(repeat(6, 1fr), null, 20px 10px);
  .history__products {
    padding: 0 5%;
    width: 100%;
    h1 {
      @include font(large, start, 700);
      padding: 20px 0;
    }
    ul {
      @include grid(repeat(auto-fill, minmax(25%, 1fr)), null, 1px);
      li {
        &:first-child {
         grid-row: span 2;
         grid-column: span 2;
        }
        &:nth-child(4n + 1) {
          grid-row: span 2;
          grid-column: span 2;
        }
      }
      position: relative;
      h2 {
        position: absolute;
        text-align: center;
        margin-top: 10%;
        padding: 20px;
        width: 100%;
      }
      li {
        width: 100%;
        position: relative;
        margin: 0;
        @include transition;
        a {
          display: block;
        }
        .delete__product {
          @include border($white, 50px);
          @include shadow_box;
          position: absolute;
          top: -5px;
          right: -5px;
          padding: 5px;
          display: none;
          z-index: 1;
          background-color: $white;
          svg {
            width: 10px;
            height: 10px;
          }
        }
        &:hover {
          @include shadow_box;
          border-radius: 5px;
          padding: 10px;
          .delete__product {
            display: grid;
          }
        }
      }
    }
  }
  .footer {
    grid-area: 5 / 1 / 7 / 7;
  }
}

@media (max-width: 769) {
  .history__page {
    .history__products {
      grid-area: 4 / 1 / 5 / 7;
    }
  }
}

@media (max-width: 575px) {
  .history__page {
    .history__products {
      ul {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        li {
          &:first-child {
           grid-row: span 2;
           grid-column: span 2;
          }
          &:nth-child(4n + 1) {
            grid-row: span 2;
            grid-column: span 2;
          }
        }
      }
    }
  }
}