.home {
  .product {
    .price {
      margin-bottom: 10px;
    }
  }
  .slide__banner {
    width: 100%;
    .glide__slide {
      a {
        width: 100%;
        display: block;
        div {
          @include ratio(18, 8);
          position: relative;
          button {
            position: absolute;
            min-width: 100px;
            left: 50%;
            bottom: 20px;
            transform: translate(-50%, 0);
            padding: 10px 15px;
            background-color: $red;
            border: none;
            color: $white;
            text-transform: uppercase;
            @include font(small, center, 500);
          }
        }
      }
    }
  }

  .categories__banner {
    @include grid(repeat(2, 1fr), 1fr, 10px);
    padding: 20px 0;
    @media (min-width: 768px) {
      @include grid(repeat(2, 1fr), 1fr, 20px);
    }
    div {
      a {
        @include ratio(7, 4);
        @include transition;
        background-color: rgba($color: black, $alpha: 0.2);
        background-blend-mode: normal;
        &:hover {
          background-blend-mode: multiply;
        }
      }
    }
  }

  .new-arrivals__slide {
    // padding: 5%;
    padding: 25px 0;
    @media (min-width: 768px) {
      padding: 25px 10px;
    }
    @media (min-width: 1024px) {
      padding: 5%;
    }
    h2 {
      @include font(3rem, center, bold);
      cursor: pointer;
    }
    .gender__toggle {
      @include flex(row, center, center);
      margin: 20px 0;
      button {
        @include font(medium, center, 600);
        border: thin solid transparent;
        background-color: transparent;
        margin: 0 10px;
        padding: 10px;
        position: relative;
        &::before {
          @include position(absolute, 0, 0, null, null);
          content: "";
          width: 5px;
          height: 5px;
          background-color: $red;
          border-radius: 50px;
          opacity: 0;
          @include transition;
        }
        &::after {
          @include position(absolute, null, null, 0, 0);
          content: "";
          width: 0%;
          height: 3px;
          background-color: $black;
          border-radius: 4px;
          @include transition;
        }
        &.active,
        &:hover {
          &::before {
            opacity: 1;
          }
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .stylepick__slide {
    padding: 5%;
    background-color: #adbabf;
    h2 {
      @include font(3rem, center, bold);
      color: $white;
      margin-bottom: 50px;
      cursor: pointer;
    }
    .product {
      .name {
        color: $white;
      }
      .price {
        color: $white;
        .discount {
          color: $white;
        }
      }
    }
  }

  .weekly__best {
    padding: 25px 0;
    @media (min-width: 768px) {
      padding: 25px 10px;
    }
    @media (min-width: 1024px) {
      padding: 5%;
    }
    h2 {
      @include font(3rem, center, bold);
      cursor: pointer;
    }
    .gender__toggle {
      @include flex(row, center, center);
      margin: 20px 0;
      button {
        @include font(medium, center, 600);
        border: thin solid transparent;
        background-color: transparent;
        margin: 0 10px;
        padding: 10px;
        position: relative;
        &::before {
          @include position(absolute, 0, 0, null, null);
          content: "";
          width: 5px;
          height: 5px;
          background-color: $red;
          border-radius: 50px;
          opacity: 0;
          @include transition;
        }
        &::after {
          @include position(absolute, null, null, 0, 0);
          content: "";
          width: 0%;
          height: 3px;
          background-color: $black;
          border-radius: 4px;
          @include transition;
        }
        &.active,
        &:hover {
          &::before {
            opacity: 1;
          }
          &::after {
            width: 100%;
          }
        }
      }
    }
    ul {
      @include grid(repeat(auto-fit, minmax(23%, 1fr)), null, 20px);
      visibility: hidden;
      height: 0;
      &.active {
        visibility: visible;
        height: auto;
      }
    }
  }

  .blog {
    padding: 5%;
    h2 {
      @include font(3rem, center, bold);
      margin-bottom: 50px;
      cursor: pointer;
    }
    .blog__list {
      @include grid(repeat(auto-fit, 45%), null, 5%);
      margin: 20px 0;
      li {
        width: 100%;
        a {
          width: 100%;
          span {
            @include ratio(16, 9);
          }
          p {
            @include font(large, center, 600);
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            margin-top: 20px;
            cursor: pointer;
          }
        }
        &:nth-child(even) {
          margin-top: 50px;
        }
      }
    }
  }

  .lookbook {
    padding: 5% 0;
    h2 {
      @include font(3rem, center, bold);
      margin-bottom: 50px;
      cursor: pointer;
    }
    .lookbook__list {
      margin: 20px 0;
      ul {
        li {
          width: 100%;
          a {
            @include ratio(7, 4);
            position: relative;
            span {
              display: none;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              @include font(xx-large, center, 600);
              color: $white;
              background-color: rgba($color: $black, $alpha: 0.4);
            }
            &:hover {
              span {
                display: grid;
                place-content: center;
              }
            }
          }
        }
      }
    }
  }
  //
  // Thanh's code
  //
  .subcription {
    position: relative;
    margin-top: -2px;
    @media (min-width: 768px) {
      padding: 80px 0 40px;
    }
    .container {
      display: grid;
      max-width: 1140px;
      margin: auto;
      @media (min-width: 768px) {
        padding: 0 25px;
        grid-gap: 28px;
        grid-template: auto / 280px 1fr;
      }
      @media (min-width: 1024px) {
        grid-template: auto / 460px 1fr;
      }
      .image {
        order: 1;
        padding-top: (5 / 4 * 100%);
        background: #cecece no-repeat bottom center;
        background-size: cover;
        position: relative;
        @media (min-width: 768px) {
          order: 0;
          padding-top: (5 / 4 * 100%);
        }
        a {
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
      .content {
        order: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // text-align: center;
        // padding: 40px 20px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // height: calc(100% - 50px);
        // transform: translate(-50%, -50%);
        // -webkit-backdrop-filter: blur(10px);
        // backdrop-filter: blur(10px);
        // background: rgba(155, 155, 155, .2);
        // width: calc(100% - 40px);
        // color: #fff;
        @media (min-width: 768px) {
          order: 1;
          height: auto;
          width: auto;
          padding: 40px;
          position: static;
          transform: none;
          background: transparent;
          // -webkit-backdrop-filter: blur(0);
          // backdrop-filter: blur(0);
          color: #191919;
        }
        h2,
        p {
          text-shadow: 0 0 1px rgba(0, 0, 0, 1);
          @media (min-width: 1024px) {
            text-shadow: none;
          }
        }
        p {
          margin-bottom: 8px;
        }
        h2 {
          font-family: serif;
          margin: 28px 0 18px;
          font-size: 16px;
          padding: 0 10px;
          @media (min-width: 768px) {
            padding: 0;
            font-family: serif;
            font-size: 42px;
            margin: 0 0 28px;
            text-transform: capitalize;
            line-height: 1.2;
          }
          br {
            display: none;
            @media (min-width: 768px) {
              display: inherit;
            }
          }
        }
        .clock {
          min-height: 24px;
          margin-bottom: 42px;
        }
        .btn-row {
          margin-top: auto;
          @media (min-width: 768px) {
            margin-top: 0;
          }
        }
        a {
          display: none;
          padding: 14px 22px;
          border: 1px solid #fff;
          color: #fff;
          font-size: 12px;
          text-shadow: 0 0 1px rgba(0, 0, 0, 1);
          background: rgba(0, 0, 0, .15);
          @media (min-width: 768px) {
            font-size: 14px;
            display: inline-block;
            background: transparent;
            border-color: #191919;
            color: #191919;
            text-shadow: none;
          }
        }
      }
    }
  }
  
  .editorial-slide-pc,
  .editorial-slide-sp {
    padding: 25px 0;
    @media (min-width: 768px) {
      padding: 25px 10px;
    }
    @media (min-width: 1024px) {
      padding: 40px 5% 0;
    }
    .title {
      padding: 0 10px 10px;
      margin-bottom: 14px;
      font-weight: 600;
      @media (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 28px;
        text-align: center;
      }
    }
  }
  
  .editorial-slide-pc {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  
  .editorial-slide-sp {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }
  
  .home-video {
    margin: 0 auto;
    max-width: 360px;
    margin-bottom: 20px;
    @media (min-width: 1024px) {
      padding: 25px 0;
      margin-bottom: 60px;
    }
    @media (min-width: 1600px) {
      padding: 40px 0;
      max-width: 460px;
    }
    .video {
      position: relative;
      background: #cecece;
      padding-top: calc(16 / 9 * 100%);
    }
    video {
      transform: translate(-2%, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 104%;
    }
  }
}

@media (max-width: 426px) {
  .home {
    .slide__banner {
      .glide__slide {
        a {
          div {
            @include ratio(4, 5);
          }
        }
      }
    }
    .new-arrivals__slide {
      h2 {
        @include font(x-large, center, bold);
      }
    }
    .stylepick__slide {
      padding: 5% 0;
      h2 {
        @include font(x-large, center, bold);
        margin: 5% 0;
      }
    }
    .weekly__best {
      h2 {
        @include font(x-large, center, bold);
      }
      ul {
        @include grid(repeat(auto-fit, minmax(45%, 1fr)), null, 10px);
      }
    }
    .blog {
      h2 {
        @include font(x-large, center, bold);
        margin: 0 0 5%;
      }
      .blog__list {
        @include grid(repeat(auto-fit, 100%), null, 10px);
        margin: 20px 0;
        li {
          width: 100%;
          &:nth-child(even) {
            margin-top: 0;
          }
        }
      }
    }
    .lookbook {
      margin-top: 50px;
      padding: 5% 0;
      h2 {
        @include font(x-large, center, bold);
        margin: 5%;
      }
    }
  }
}
