.landing__page {
  img {
    width: 100%;
  }
  .content {
    margin-bottom: 20px;
    padding: 0 10%;
    figure {
      a {
        display: block;
        padding: 0 10%;
        margin-bottom: 40px;
        p {
          background-color: $black;
          color: $white;
          text-transform: uppercase;
          @include font(large, center, 700);
          @include border($gray, 0);
          padding: 15px;
        }
      }
    }
    .glide {
      padding: 0 5%;
      .glide__arrow svg {
        fill: $gray;
      }
    }
    li {
      img {
        width: 100%;
        aspect-ratio: auto 4 / 5;
      }
    }
    a {
      display: block;
      padding: 0 10%;
      margin: 20px 0;
      p {
        background-color: $black;
        color: $white;
        text-transform: uppercase;
        @include font(large, center, 700);
        @include border($gray, 0);
        padding: 15px;
      }
    }
  }
}
@media (max-width: 575px) {
  .landing__page {
    .content {
      padding: 0;
    }
  }
}
