.order__confirmation {
  @include grid(repeat(6, 1fr), null, 20px);
  padding: 100px 5% 0 5%;
  .order__overview {
    grid-area: 1 / 1 / 3 / 4;
    .customer__info {
      @include grid(1fr, null, 20px);
      @include border($silver, 4px);
      padding: 20px 30px;
      place-items: center;
      svg {
        width: 5%;
        height: auto;
      }
      ul {
        width: 100%;
        @include grid(1fr, null, 10px);
        label {
          @include font(medium, start, 600);
        }
      }
    }
    .customer__continue {
      @include flex(row, space-between, center);
      margin-top: 30px;
      i {
        @include font(medium, start, 600);
      }
      button {
        padding: 10px 20px;
        background-color: $black;
        color: $white;
        font-size: medium;
        border: none;
        width: 40%;
        border-radius: 4px;
      }
    }
  }
  .order__items {
    grid-area: 1/ 4 / 3 / 7;
    background-color: $light;
    border-radius: 4px;
    padding: 20px;
    .product__list {
      width: 100%;
      min-height: 35vh;
      overflow: auto;
      li {
        @include grid((150px 1fr), 1fr, 50px);
        margin: 10px 0;
        .product__thumbnail {
          @include ratio(1, 1);
        }
        div {
          h6 {
            font-size: medium;
            margin-bottom: 10px;
          }
          p {
            color: $silver;
            margin-bottom: 10px;
          }
          strong {
            margin-bottom: 10px;
          }
        }
      }
    }
    .amount {
      border-top: thin solid $silver;
      border-bottom: thin solid $silver;
      padding: 15px 0;
      div {
        margin-bottom: 10px;
        @include flex(row, space-between, center);
        &.ship__fee {
          strong {
            color: $silver;
          }
        }
        p {
          @include font(medium, start, 500);
          color: $silver;
        }
        strong {
          @include font(large, start, 560);
        }
      }
    }
    .total {
      margin-top: 20px;
      @include flex(row, space-between, center);
      p {
        @include font(medium, start, 500);
        color: $silver;
      }
      strong {
        @include font(large, start, 560);
      }
    }
  }
  .footer {
    grid-area: 4 / 1 / 5 / 7;
  }
}

@media (max-width: 575px) {
  .order__confirmation {
    padding: 0;
    .order__overview {
      grid-area: 1/1/2/7;
      padding: 20px;
      .customer__continue {
        flex-direction: column;
        button {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
    .order__items {
      grid-area: 2/1/3/7;
    }
    .footer {
      grid-area: 3 / 1 / 4 / 7;
    }
  }
}
