.product__page {
  @include grid(repeat(6, 1fr), null, 0);
  .promotion__popup {
    grid-area: 1 / 1 / 2 / 7;
  }
  .status__bar {
    grid-area: 1/1/2/7;
  }
  .gallery {
    grid-area: 2 / 1 / 3 / 5;
    width: 100%;
    ul {
      @include grid(repeat(2, 1fr));
      li {
        @include ratio(4, 5);
      }
    }
    svg {
      display: none;
    }
  }
  // .description {
  //   grid-area: 3 / 1 / 4 / 5;
  //   margin: 20px 0;
  //   h1 {
  //     @include font(x-large, center, 700);
  //     margin: 20px 0;
  //     letter-spacing: 2px;
  //   }
  //   div {
  //     padding: 0;
  //     p {
  //       @include font(medium, start, 600);
  //       color: $silver;
  //       line-height: 1.5;
  //     }
  //   }
  // }
  .flatlay {
    grid-area: 4 / 1 / 5 / 5;
    margin: 20px 0;
    h1 {
      @include font(x-large, center, 700);
      margin: 20px 0;
      text-align: center;
      letter-spacing: 2px;
    }
    .flatlay__container {
      li {
        span {
          @include ratio(1, 1);
        }
      }
    }
  }
  .suggest__product {
    grid-area: 6 / 1 / 7 / 7;
    margin: 20px 0;
    padding: 20px;
    h1 {
      @include font(large, start, 700);
      margin: 20px 0;
      letter-spacing: 2px;
    }
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      li {
        .product {
          position: relative;
          .detail {
            position: absolute;
            bottom: 15px;
            .info {
              width: fit-content;
              .name {
                color: $white;
                border-bottom: 3px solid $white;
                background-color: rgba($color: $gray, $alpha: 0.5);
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
  .variation {
    grid-area: 1 / 5 / 6 / 7;
    padding: 0 5%;
    position: relative;
    > .product__overview {
      position: sticky;
      top: 100px;
      align-self: flex-start;
      max-height: 100%;
      overflow: auto;
      .detail {
        margin-bottom: 24px;
        h1 {
          @include font(large, start, bold);
          margin: 10px 0;
        }
        .price {
          @include grid(repeat(2, 145px));
          margin: 10px 0;
          p {
            @include font(x-large, start, 600);
          }
          .discount {
            color: $silver;
            text-decoration: line-through;
          }
        }
        .promotion {
          @include border($red, 4px);
          background-color: $red;
          padding: 5px;
          color: $white;
          font-size: x-small;
          p {
            margin: 5px;
          }
        }
      }
      .color {
        margin: 26px 0 34px;
        p {
          @include font(14px, start, 500);
          text-transform: capitalize;
        }
        ul {
          @include grid(repeat(auto-fit, minmax(auto, 80px)), null, 16px);
          margin-top: 10px;
          li {
            @include ratio(1, 1);
            @include transition;
            box-sizing: content-box;
            position: relative;
            button {
              @include border($light, 0);
              @include ratio(1, 1);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              background-color: $white;
              &:hover,
              &.active {
                border: 2px solid $black;
              }
              &:disabled {
                cursor: not-allowed;
                pointer-events: none;
                &:before,
                &:after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 0.5px;
                  background-color: $white;
                  bottom: 50%;
                  left: 50%;
                  left: 0;
                  transform: translate(-50%, -50%);
                }
                &:before {
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  transform: rotate(45deg);
                  left: 0;
                }
                &:after {
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  right: 0;
                }
              }
            }
          }
        }
      }
      .size {
        margin: 0 0 16px;
        > div {
          @include flex(row, space-between, center);
          p {
            @include font(14px, start, 500);
            text-transform: capitalize;
            cursor: pointer;
          }
          span {
            @include flex(row, start, center);
            font-size: smaller;
            padding-bottom: 3px;
            border-bottom: thin solid $light;
            cursor: pointer;
            &:hover {
              border-bottom: thin solid $black;
            }
            svg {
              width: 15px;
              height: 15px;
              margin-right: 5px;
            }
          }
        }
        ul {
          @include grid(repeat(auto-fit, minmax(auto, 50px)), null, 18px);
          margin-top: 10px;
          li {
            @include ratio(1, 1);
            @include transition;
            position: relative;
            box-sizing: content-box;
            button {
              @include border($light, 0);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              background-color: $white;
              padding: 0;
              &:hover,
              &.active {
                border: 2px solid $black;
              }
              &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
                pointer-events: none;
                &:before,
                &:after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  background-color: $silver;
                  bottom: 50%;
                  left: 50%;
                  left: 0;
                  transform: translate(-50%, -50%);
                }
                &:before {
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  transform: rotate(45deg);
                  left: 0;
                }
                &:after {
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  right: 0;
                }
              }
            }
          }
        }
      }
      .interact {
        @include flex(row, flex-start, center);
        gap: 10px;
        button {
          border: none;
          background-color: transparent;
          &.add {
            @include flex(row, center, center);
            @include transition;
            width: 100%;
            background-color: $white;
            color: $black;
            margin: 15px 0;
            text-transform: uppercase;
            padding: 10px;
            border: thin solid $black;
            font-size: medium;
            &:hover {
              background-color: $black;
              color: $white;
            }
          }
          &.active {
            svg {
              color: $red;
            }
          }
          svg {
            @include transition();
            width: 25px;
            height: 25px;
            &:hover {
              color: $red;
            }
          }
        }
      }
      .guide {
        margin: 0;
        @include flex(row, flex-end, center);
        gap: 10px;
        li {
          @include flex(row, center, center);
          @include transition;
          font-size: x-small;
          cursor: pointer;
          padding: 5px 0;
          &.active {
            svg {
              transform: rotate(90deg);
            }
          }
          svg {
            width: 15px;
            height: 15px;
            transition: all ease-in-out 0.2s;
            margin-right: 5px;
          }
        }
      }
      .description {
        .cdx-list__item {
          font-size: smaller;
        }
        .cdx-list {
          padding-left: 10px;
        }
        .codex-editor__redactor {
          padding-bottom: 0 !important;
        }
      }
      .promotion__sale {
        margin-top: 30px;
        p {
          @include font(medium, start, 700);
          color: $red;
          line-height: 1.3;
        }
        button {
          @include font(large, center, 500);
          @include border($red, 4px);
          color: $white;
          width: 100%;
          display: block;
          padding: 15px;
          background-color: $red;
          margin-top: 10px;
        }
      }
    }
  }
  .cross__product {
    h1 {
      @include font(large, start, 700);
      margin: 20px 0;
      letter-spacing: 2px;
    }
    grid-area: 7 / 1 / 8 / 7;
    padding: 20px;
  }
  .footer {
    grid-area: 8 / 1 / 9 / 7;
  }
}

@media (max-width: 1025px) {
  .product__page {
    .variation {
      > div {
        .interact {
          div {
            justify-content: flex-start;
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .product__page {
    .gallery {
      position: relative;
      width: 100%;
      ul {
        @include grid(repeat(1, 1fr));
        li {
          @include ratio(4, 5);
        }
      }
    }
    .variation {
      > div {
        h1 {
          font-size: medium;
        }
        .detail {
          .promotion {
            margin-top: 10px;
          }
        }
        .color {
          ul {
            @include grid(repeat(auto-fit, minmax(auto, 20%)), null, 10px);
          }
        }
        .size {
          ul {
            @include grid(repeat(auto-fit, minmax(auto, 40px)), null, 10px);
            // display: flex;
            grid-gap: 8px;
            li {
              flex-grow: 1;
              padding: 0;
              button {
                padding: 10px 0;
                position: static;
                transform: none;
              }
            }
          }
        }
        .add {
          font-size: small;
        }
        .interact {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 15px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .product__page {
    // padding-top: 0;
    .gallery {
      grid-area: 2 / 1 / 3 / 7;
      ul {
        width: 100vw;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        overscroll-behavior: none;
        position: relative;
        li {
          scroll-snap-align: start;
          display: inline-block;
        }
      }
      svg {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: calc(50% - 50px);
        right: 10px;
        fill: $white;
        -webkit-animation: slide-out-left 1.5s ease-in-out 2s 2 both;
        animation: slide-out-left 1.5s ease-in-out 2s 2 both;
        @-webkit-keyframes slide-out-left {
          0% {
            -webkit-transform: translate(0);
            transform: translate(0);
            opacity: 1;
          }
          100% {
            -webkit-transform: translate(-370px);
            transform: translate(-370px);
            opacity: 0;
          }
        }
        @keyframes slide-out-left {
          0% {
            -webkit-transform: translate(0);
            transform: translate(0);
            opacity: 1;
          }
          100% {
            -webkit-transform: translate(-370px);
            transform: translate(-370px);
            opacity: 0;
          }
        }
      }
    }
    .variation {
      grid-area: 3 / 1 / 4 / 7;
      > .product__overview {
        .info {
          @include flex(row, space-between, flex-start);
          margin-top: 10px;
          .name {
            font-size: medium;
            margin: 0;
          }
          .price {
            @include grid(repeat(1, 1fr), null, 10px);
            margin: 0;
            p {
              text-align: end;
              font-size: 16px;
            }
          }
        }
        .interact {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 15px;
        }
        .description {
          .cdx-list {
            padding: 0 10px;
            .cdx-list__item {
              line-height: 1.1;
            }
          }
        }
      }
    }
    .model {
      grid-area: 3 / 1 / 4 / 7;
      div {
        flex-direction: column-reverse;
        margin: 5px;
        ul {
          margin-right: 0;
        }
        div {
          width: 50%;
        }
      }
    }
    .flatlay {
      grid-area: 5 / 1 / 6 / 7;
      h1 {
        font-size: medium;
      }
    }
    .attributes {
      grid-area: 5 / 1 / 6 / 7;
    }
    .suggest__product {
      display: none;
    }
    .cross__product {
      display: none;
    }
    .mobile__suggest {
      grid-area: 6 / 1 / 7 / 7;
      .block__toggle {
        @include flex(row, center, center);
        margin: 0;
        button {
          @include font(x-small, center, 600);
          width: 50%;
          border: none;
          border-bottom: thin solid $light;
          background-color: transparent;
          text-transform: uppercase;
          padding: 10px 5px;
          color: $silver;
          &.active,
          &:hover {
            color: $black;
            border-bottom: thin solid $black;
          }
        }
      }
      .products__slider {
        .glide {
          &.deactive {
            visibility: hidden;
            height: 0;
          }
        }
      }
    }
  }
}

// .products__slider {
//   width: 100%;
//   // margin: 20px 0;
//   .glide {
//     visibility: hidden;
//     height: 0;
//     &.active {
//       visibility: visible;
//       height: auto;
//     }
//   }
// }
