.register__form {
  @include grid(1fr , null ,50px);
  padding: 20%;
  &--logo {
    place-self: center;
    svg {
      width: 50px;
      height: 50px;
    }
  }
  &--register {
    @include grid(1fr,null,20px);
    input, select {
      border: none;
      border-bottom: thin solid $silver;
      width: 100%;
      padding: 5px;
      margin: 10px 0;
    }
   
    small {
      @include font(x-small,center,500);
      margin-top: 20px;
    }
    button {
      @include shadow_box();
      @include border(transparent,4px);
      background-color: $white;
      padding: 15px 10px;
      &:focus {
        background-color: $light;
      }
    }
  }
}