.header {
  &.style-1 {
    .nav {
      display: flex;
      .pre-order-cart {
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        svg {
          margin-right: 6px;
        }
      }
    }
    .nav__logo {
      position: static;
      width: auto;
      transform: none;
    }
    .pre-order-cart {
      cursor: pointer;
      span {
        margin-left: 4px;
      }
    }
  }    
}

.list-campaign-page-wrapper {
  padding: 0 0 60px;
  .container {
    padding: 40px 10px;
    width: 100%;
    display: block;
    margin: 0 auto;
    
    @media (min-width: 768px) {
      max-width: 540px;
    }
    @media (min-width: 1024px) {
      padding: 60px 10px;
      max-width: 768px;
    }
    @media (min-width: 1600px) {
      max-width: 1320px;
    }
  }
  
  .section-video {
    margin: 0 auto;
    
    margin-bottom: 20px;
    @media (min-width: 768px) {
      max-width: 365px;
    }
    @media (min-width: 1024px) {
      padding: 25px 0;
      margin-bottom: 60px;
    }
    @media (min-width: 1600px) {
      padding: 40px 0;
      max-width: 460px;
    }
    .video {
      position: relative;
      background: #cecece;
      padding-top: calc(16 / 9 * 100%);
      overflow: hidden;
    }
    video {
      transform: translate(-2%, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 104%;
    }
  }
  .section-banner {
    padding: 40px 15px;
    margin: 0 auto;
    @media (min-width: 1024px) {
      padding: 80px 15px;
    }
    .image {
      background: #e1e1e1 no-repeat bottom center;
      background-size: cover;
      padding-top: 100%;
    }
    .content {
      position: relative;
      padding-top: 40px;
      h2 {
        // color: #ff0050;
        color: #054c7b;
        font-weight: 600;
        font-size: 45px;
        font-family: serif;
        margin-bottom: 18px;
        line-height: 1.2;
        @media (min-width: 1024px) {
          font-size: 52px;
        }
        span {
          font-size: 46px;
          margin-right: 18px;
          @media (min-width: 667px) {
            font-size: 64px;
          }
          @media (min-width: 1024px) {
            font-size: 84px;
          }
        }
      }
      p {
        // color: #e50048;
        color: #054c7b;
        width: 100%;
        margin-right: auto;
        text-align: justify;
        @media (min-width: 768px) {
          width: 90%;
        }
        @media (min-width: 1024px) {
          width: 70%;
        }
      }
    }
  }
  .section-collection {
    padding: 20px 15px;
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: 14px;
    @media (min-width: 768px) {
      padding: 40px 15px;
      grid-gap: 28px;
      grid-template: auto / 1fr 1fr 1fr;
    }
    @media (min-width: 1024px) {
      grid-gap: 42px;
      padding: 80px 15px;
    }
    .item {
      .image {
        display: block;
        width: 100%;
        padding-top: calc(16 / 9 * 100%);
        background: #e1e1e1 no-repeat center / cover;
      }
      p {
        text-align: center;
        padding: 12px 5px 6px;
        color: #054c7b;
        @media (min-width: 768px) {
          padding: 12px 0 6px;
        }
      }
      .name {
        padding: 12px 0 4px;
        text-transform: uppercase;
      }
    }
  }
  .section-gallery {
    padding: 25px 15px;
    max-width: 280px;
    margin: 0 auto;
    @media (min-width: 667px) {
      max-width: 400px;
      padding: 80px 15px;
    }
    @media (min-width: 1024px) {
      max-width: 510px;
    }
    .item {
      width: 100%;
      margin-bottom: 40px;
      background: #e1e1e1 no-repeat center / cover;
      // padding-top: calc(4 / 3 * 100%);
      padding-top: 100%;
      @media (min-width: 667px) {
        margin-bottom: 120px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .section-product {
    .product-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      // grid-template: auto / 1fr 1fr;
      // grid-gap: 10px;
      padding: 25px 0;
      max-width: 1200px;
      margin: 0 auto;
      @media (min-width: 768px) {
        padding: 40px 15px;
        // grid-template: auto / 1fr 1fr 1fr;
        // grid-gap: 14px;
      }
      @media (min-width: 1024px) {
        // grid-template: auto / 1fr 1fr 1fr 1fr;
      }
      .item {
        flex: 0 0 49%;
        margin: 0 0 10px;
        padding: 0 4px;
        @media (min-width: 768px) {
          flex: 0 0 31%;
        }
        @media (min-width: 1024px) {
          flex: 0 0 24%;
        }
        .image {
          padding-top: calc(5 / 4 * 100%);
          background: #cecece no-repeat center;
          background-size: cover;
          margin-bottom: 6px;
          display: block;
        }
        p {
          margin-bottom: 2px;
          font-size: 12px;
        }
        .name {
          text-transform: capitalize;
        }
      }
    }
  }
  .section-slide {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px 15px;
    @media (min-width: 768px) {
      padding: 40px 15px;
    }
    .grid-row {
      align-items: center;
      @media (min-width: 768px) {
        display: grid;
        grid-gap: 40px;
        grid-template: auto / 40% 1fr;
      }
      .content {
        padding: 20px 0;
        text-align: justify;
        @media (min-width: 768px) {
          padding: 20px;
        }
      }
    }
    .glide__slide {
      .image {
        padding-top: 100%;
        background: #cecece no-repeat center;
        background-size: cover;
      }
    }
    &.slide-1 {
      .image {
        &.image-1 {
          background-image: url(../img/editorial/artboard-1.jpg)
        }
        &.image-2 {
          background-image: url(../img/editorial/artboard-2.jpg)
        }
        &.image-3 {
          background-image: url(../img/editorial/artboard-3.jpg)
        }
        &.image-4 {
          background-image: url(../img/editorial/artboard-4.jpg)
        }
      }
    }
  }
  .prince-coat {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px 15px;
    @media (min-width: 768px) {
      padding: 40px 15px;
    }
    .grid-row {
      display: grid;
      grid-gap: 18px;
      align-items: center;
      @media (min-width: 768px) {
        grid-gap: 40px;
        grid-template: auto / 1fr 40%;
      }
      .image {
        order: 0;
        background: #cecece no-repeat center;
        background-image: url(../img/editorial/khaki.png);
        background-size: cover;
        padding-top: calc(5 / 4 * 100%);
        @media (min-width: 768px) {
          order: 1;
        }
      }
      .content {
        padding: 0 0 20px;
        order: 1;
        text-align: justify;
        @media (min-width: 768px) {
          order: 0;
          padding: 20px;
        }
      }
    }
  }
  .ex-four {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px 15px;
    @media (min-width: 768px) {
      padding: 40px 15px;
    }
    .grid-row {
      display: grid;
      grid-gap: 18px;
      align-items: center;
      @media (min-width: 768px) {
        grid-gap: 40px;
        grid-template: auto / 35% 1fr;
      }
      .image {
        background: #cecece no-repeat center;
        background-image: url(../img/editorial/x4.jpg);
        background-size: cover;
        padding-top: 100%;
      }
      .content {
        padding: 0 0 20px;
        text-align: justify;
        @media (min-width: 768px) {
          padding: 20px;
        }
      }
    }
  }
  .end {
    padding: 25px 15px;
    @media (min-width: 768px) {
      padding: 40px 15px;
    }
    text-align: center;
  }
}

.pre-order-cart {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(155, 155, 155, .25);
    z-index: 1111;
  }
  svg {
    width: auto;
    height: auto;
  }
  .cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: -2px 0 9px 1px rgb(21 23 24 / 10%);
    z-index: 1111;
    width: 100%;
    @media (min-width: 1024px) {
      max-width: 80%;
    }
    @media (min-width: 1200px) {
      max-width: 1024px;
    }
  }
  .cart-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template: auto / 1fr 35%;
    button {
      background: transparent;
      border: 0;
    }
    svg {
      width: 24px;
    }
    
    span {
      background: #fff;
      padding: 14px;
      order: 1;
      // font-family: serif;
      text-align: right;
      font-size: 15px;
      @media (min-width: 1024px) {
        padding: 18px;
        background: #f5f5f5;
      }
    }
    .close {
      background: #fff;
      padding: 14px;
      order: 0;
      @media (min-width: 1024px) {
        padding: 18px;
      }
    }
  }
  .cart-body {
    display: grid;
    height: 100%;
    @media (min-width: 1024px) {
      grid-template: auto / 1fr 35%;
    }
  }
  .content {
    &.left {
      padding: 65px 14px 18px;
      overflow: auto;
      height: 75vh;
      @media (min-width: 1024px) {
        padding: 65px 18px 18px;
        height: 100vh;
      }
      .cart-item {
        display: grid;
        align-items: center;
        grid-gap: 12px;
        margin-bottom: 12px;
        grid-template: auto / 100px 1fr;
        font-size: 12px;
        position: relative;
        @media (min-width: 1024px) {
          grid-template: auto / 125px 1fr;
        }
        .image {
          background: #e4e3e5 no-repeat center;
          background-size: cover;
          padding-top: 100%;
        }
        .detail {
          display: grid;
          grid-gap: 12px;
          @media (min-width: 1024px) {
            grid-template: auto / 1fr 120px;
          }
          p {
            margin-bottom: 4px;
            padding-right: 28px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        button {
          background: 0;
          border: 0;
          padding: 5px;
        }
        .quantity {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @media (min-width: 1024px) {
            grid-column: auto;
            justify-content: flex-end;
          }
          .number {
            margin: 0 4px;
            font-size: 14px;
            width: 40px;
            text-align: center;
          }
        }
        .delete {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    &.right {
      padding: 18px 14px;
      background: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 1024px) {
        padding: 18px;
        padding: 100px 18px 18px;
      }
      p {
        width: 100%;
        display: grid;
        grid-template: auto / 1fr 1fr;
        grid-gap: 12px;
        margin: auto 0 22px;
        color: #484848;
      }
      button {
        background: #191919;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        padding: 14px;
        border-color: #191919;
      }
      .total {
        text-align: right;
      }
    }
  }
}
.mobile-variation {
  display: none;
  &.show {
    display: block;
  }
  @media (min-width: 1024px) {
    display: none !important;
  }
  table {
    border-collapse: collapse;
    th {
      background: #f4f4f4;
      font-weight: 600;
    }
    th,
    td {
      padding: 4px;
      border: 1px solid #cecece;
    }
  }
  .form {
    .grid-row {
      display: grid;
      grid-template: auto / 1fr 1fr;
      grid-gap: 12px;
      margin-bottom: 8px;
      p {
        margin-bottom: 2px;
      }
      input {
        padding: 4px;
        border: 1px solid #cecece;
        width: 100%;
        display: block;
      }
    }
    button {
      background-color: #888;
      color: #fff;
      padding: 14px;
      text-transform: uppercase;
      border: 0;
      width: 100%;
    }
  }
}
.subscribe-new-product {
  border: 1px solid #cecece;
  padding: 14px;
  p {
    margin-bottom: 14px;
  }
  input,
  button {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #cecece;
  }
  input {
    margin-bottom: 8px;
  }
  button {
    margin-top: 22px;
    background: #cecece;
  }
}

.self-portrait-campaign {
  .section-slide {
    padding: 40px 5px;
    position: relative;
    @media (min-width: 1024px) {
      padding: 40px 25px;
    }
    .image {
      padding-top: calc(16 / 9 * 100%);
      background: #fff no-repeat top center;
      background-size: cover;
    }
    .glide__arrow{ 
      padding: 8px;
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }
      &.glide__arrow--left {
        left: 0;
      }
      &.glide__arrow--right {
        right: 0;
      }
      svg {
        fill: #191919;
        width: 20px;
      }
    }
    .glide__slide {
      p {
        padding: 15px 0;
        text-align: center;
      }
    }
    .look-detail {
      display: grid;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 111;
      padding: 40px 10px;
      background: #fff;
      @media (min-width: 768px) {
        position: absolute;
        padding: 40px 25px;
      }
      @media (min-width: 1024px) {
        grid-template: auto / 250px 1fr;
        grid-gap: 60px;
      }
      .thumbnail {
        padding-top: calc(16 / 9 * 100%);
        background: #fff no-repeat center;
        background-size: cover;
      }
      .close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 28px;
        height: 28px;
        background: transparent;
        border: 0;
        transform: rotate(45deg);
        @media (min-width: 1024px) {
          right: 40px;
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          border-color: #333;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
        }
        &::before {
          height: 100%;
          border-right: 2px solid;
        }
        &::after {
          width: 100%;
          border-top: 2px solid;
        }
      }
    }
  }
}

